<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h1 class="page-header">About us</h1>
              </div>

        <div class="col-ld-6 col-sm-6 col-md-6">
            <img class="img-responsive" src="assets/images/sp17group.JPG">
        </div>
        <div class="col-ld-6 col-sm-6 col-md-6">
            <p><large>Society of Women Engineers</large> is a national nonprofit organization. Its objective is to encourage and empower women to reach their full potential as engineers. SWE strives to highlight the achievements and contributions of women as leaders and engineers. Supporting both students and professionals, SWE consists of over 17,000 members in 90 sections and 300 student sections.</p>
            <p>The UC Berkeley student chapter has been established since 1975 and supports students through professional development, social events and outreach to young women interested in the STEM field.</p>

        </div>
    </div>

    <!-- Team Member Profiles -->

    <div class="row text-center">

        <div class="col-lg-12">
            <h2 class="page-header">Our awards</h2>
        </div>

        <div class="col-sm-4">
            <img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="assets/images/about/outstanding_silver.jpg">

            <h3>FY10
                <!-- <small>Job Title</small> -->
            </h3>
            <p>Strategic Communications Print Newsletter 1st Place Award and Outstanding Collegiate Section Silver Award.  </p>
    </div>

        <div class="col-sm-4">
            <img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="assets/images/about/outstanding_silver.jpg">

            <h3>FY13
                  <!-- <small>Job Title</small> -->
            </h3>
            <p> Outstanding Collegiate Section Silver Award. </p>
        </div>

        <div class="col-sm-4">
            <img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="assets/images/about/professional_award_15.png" width="60%">

            <h3>FY15
                <!-- <small>Job Title</small> -->
            </h3>
            <p>Professional Development for Large Collegiate Sections.</p>
        </div>

  </div>



</div>
<!-- /.container -->
