<!-- 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>

    <title>HSEP | UC Berkeley SWE</title>
    <script src="../assets/js/scroll.js"></script>

</head> -->
<div class="container">

    <div class="row">
      <br>
        <div class="col-lg-12">
            <h1 class="page-header">Alumni
                <!-- <small></small> -->
            </h1>

        </div>
        <br>
        <br>
        <div class="col-lg-12">
          <h5 class="page-header">
            Are you a current student? Check out the Alumni Mentorship Database!
          </h5>

          <p>
            Check it out <strong><a href="https://docs.google.com/spreadsheets/d/14vr8lsk0XgKt2UOC5KLc4ltxGL8X0XGDWbt0C0mWGAQ/edit?usp=sharing" target="_blank">here</a>.</strong> Fill out <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSeZOU-DZ2sb4iQ-xfJoZBZkMCF9PmGnbzjxjrpN2VwxhSiO7Q/viewform?usp=sf_link" target="_blank">this form</a></strong> for comments or feedback related to the new mentorship database.
          </p>
        </div>
        <br>
        <hr>
        <br>
        <!-- <div class="col-lg-12">
          <h5 class="page-header">
            Sign up for the Alumni Newsletter
          </h5>

          <p>
            Interested in joining the SWE Alumni Newsletter Listserv? Sign up <strong><a href="https://docs.google.com/forms/d/1LxZbgUna2Dp-_Rj_A0gWM3_PcfBvAZkGq5rmXFAXQ4w/viewform?formkey=dEtfV2NJZnpoMUxJeGNYOEZGZjBPRVE6MQ#gid=0">here</a>.</strong>
          </p>
        </div> -->
    <!--     <br>
        <hr>
        <br> -->
        <div class="col-lg-12">
          <h5 class="page-header">
            Sign up for our Alumni Directory
          </h5>

          <p>
            Keep in touch and hear about all the cool ways to stay involved with SWE! Sign up
            <strong><a href="http://eepurl.com/daGT9X" target="_blank">here</a>.</strong>
          </p>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
