<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Committees
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Historian </h3>
            <p>Chair: Shirley Liu
            </p>
            <p>
                The historian committee is a place for passionate photography and videography lovers. Here, we really learn and use new photography equipment and editing software to document SWE events. Join us and help record how SWE thrive!
            </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/historian.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Outreach <small>swe.berkeley.outreach@gmail.com</small> </h3>
          <p>VP: Kayva Madhavan</p>
          <p>Elementary Outreach: Haruka Ichikawa </p>
          <p>Middle School Outreach: Maitri Shah </p>
          <p>High School Outreach: Louise Feng, Yena Kim </p>
          <p>Mini University: Tanisha Randhawa </p>
          <p>The outreach committee plans engaging hands-on engineering activities for K-12 students. As a committee member,
              you will be responsible for planning and volunteering at our various outreach events.
              Help teach and inspire the engineers of tomorrow! </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/parent_education_program.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Evening With Industry</h3>
            <p>Officer: Cindy Wong, Purva Gupta
            </p>
            <p>
              Evening with Industry is an annual career fair and networking dinner hosted by UC Berkeley’s Society of Women Engineers. If you are looking for an internship or a full-time position, Evening with Industry is a great opportunity to meet recruiters and professionals.
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Public Relations
          <small>ucb.swe.pr@gmail.com</small>
        </h3>
          <p>Chairs: Adela Li, Ian Rodney</p>
          <p>The Public Relations committee is in charge of keeping SWE members in the loop about SWE events and opportunities. The main ways in which we do this are through preparing and distributing the weekly SWEmail,
          producing the newsletter that is distributed at general meetings, flyering around campus, chalking messages in classrooms, and posting social media updates including Facebook. If you have a passion for writing, design, communications/social media, or just an interest in public relations then we would love to have you join our team! (No experience necessary.)</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Shadow an Engineer </h3>
          <p>Chairs: Francesca Ledesma, Muying Chen</p>
          <p>
            Shadow an Engineer is SWE’s externship program that provides undergraduate engineering students an opportunity to experience what it is like to be a full-time engineer at a company over Spring Break. We are looking for dedicated individuals to help put together our program this semester by directly communicating with companies, working on the student application, or helping publicize the program.
          </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Professional Development Month</h3>
          <p>Officer: Yitian Zou, Shanaaz Deo</p>
          <p>
            SWE is hosting its fourth annual Professional Development Month (PDM) this fall! PDM is a month-long series of events with members of industry to equip engineering students with the knowledge and tools to secure a job or internship. The events will focus on cruising a career fair, acing the interview, and more.
          </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Social / Community Engagement</h3>
          <P>Community Engagement: Hannah He</p>
          <p>Membership: Jessica Yeh, Preethi Bhat</p>
          <p>
            Are you interested in hosting socials, such as ice skating or ice cream runs?If so, join Social Committee, where you can learn how to put on and participate in fun activities.
          </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Website</h3>
          <p>Officer: Peitian Xiong </p>
          <p> The website committee will help update the content of the website for various SWE events.
              You will also help implement new features and redesign the website. Previous experience in HTML/CSS is preferred but not required. </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/website.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Team Tech</h3>
          <p>Officer: Asena Yildiz, Smita Balaji</p>
          <p>
            Team Tech is a national competition run by SWE and sponsored by Boeing in which a team at school works with an industry partner on a project. The company and project is of each team’s choosing. Teams are evaluated both on the end product quality and the ability of the team to work together. Project proposals may be submitted during the fall semester after which teams may begin their work. The final report is due at the end of the spring semester, and the presentations occur at the SWE fall conference (which takes place in October 2018).
          </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Apprenticeship</h1>
        </div>
    </div>

    <div class="row">
      <div class="col-ld-9 col-sm-9 col-md-9">
        <h3>Mini University</h3>
        <p>Officer: Tanisha Randhawa</p>
        <p>Apprentice: Natali Gallegos</p>
        <p>
          MiniU is an outreach event for high school students considering majoring in STEM related fields, with special consideration and emphasis for those from low-income backgrounds. The goal of the program is to get participants interested in engineering related careers and inspire them to pursue new experiences. The apprentice will meet with me about once every other week up through the day of the event to help go over coordination and details.
        </p>
      </div>
      <div class="col-ld-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="assets/images/committeesFA17/miniu_apprentice.jpg">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-ld-9 col-sm-9 col-md-9">
        <h3>Engineering Day</h3>
        <p>Officer: Kelly Chen</p>
        <p>
          Engineering Day is a fun event in October where parents are able to drop by with their K-3rd graders and interact with exciting Halloween-themed science booths in a casual, carnival style. In past years, we have had over 100 kids attend!
        </p>
      </div>
      <div class="col-ld-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="assets/images/committeesFA17/engineering_day.jpg">
      </div>
    </div>
</div>
