<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Committees
            </h1>

        </div>

    </div>

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Historian </h3>
            <p>Chair: Rachel Huang
            </p>
            <p>
                The historian committee is a place for passionate photography and videography lovers. Here, we really learn and use new photography equipment and editing software to document SWE events. Join us and help record how SWE thrive!
            </p>
        </div>
    </div>

    <hr>



    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Outreach <small>swe.berkeley.outreach@gmail.com</small> </h3>
          <p>VP: Angela Lin</p>
          <p>Elementary Outreach: Priscilla Khuu </p>
          <p>Middle School Outreach: Kavya Madhavan </p>
          <p>High School Outreach: David Hua </p>
          <p>Mini University: Shruti Aggarwal</p>
          <p>The outreach committee plans engaging hands-on engineering activities for K-12 students. As a committee member,
              you will be responsible for planning and volunteering at our various outreach events.
              Help teach and inspire the engineers of tomorrow! </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Overnight Host Program <small>ucb.swe.admit@gmail.com</small></h3>
          <p>Chair: Sarah Spivack</p>
            <p>The Overnight Host Program (OHP) Committee works to plan and implement a two-day event in which
                newly-admitted female engineering students travel to the UC Berkeley campus in order to experience life at Cal!
                Throughout the program, the admits will meet with professors, lab groups, and student organizations on campus,
                stay overnight with an undergraduate student host, and experience Cal Day!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Public Relations
          <small>ucb.swe.pr@gmail.com</small>
        </h3>
          <p>Chairs: Emily Zhon, Yitian Zou
            </p>
            <p>The Public Relations committee is in charge of keeping SWE members in the loop about SWE events and opportunities.
                The main ways in which we do this are through preparing and distributing the weekly SWEmail,
                producing the newsletter that is distributed at general meetings, flyering around campus,
                chalking messages in classrooms, and posting social media updates including Facebook.
                If you have a passion for writing, design, communications/social media,
                or just an interest in public relations then we would love to have you join our team! (No experience necessary.)</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Shadow an Engineer </h3>
          <p>Chairs: Asena Yildiz, Purva Gupta
            </p>
            <p>
                Shadow an Engineer is SWE’s externship program that provides undergraduate
                engineering students an opportunity to experience what it is like to be
                a full-time engineer at a company over Spring Break. We are looking for
                dedicated individuals to help put together our program this semester by directly
                communicating with companies, working on the student application, or helping publicize the program. </p>
        </div>
    </div>

    <hr>


    <!-- <div class="row"> -->
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <!-- <div class="col-md-12">
          <h3>Professional Development Week (PDM)</h3>
          <p>Chair:
            </p>
            <p>
	    SWE is hosting the third annual Professional Development Month (PDM) this fall! PDM is a month-long series of events with members of industry to equip engineering students with the knowledge and tools to secure a job or internship. The events will focus on cruising a career fair, acing the interview, and more! All events will be served with food. PDM is currently putting together a committee of 8 day chairs and 2 publicists to bring the event together. If interested, talk to Francesca Ledesma or Aly Scheske at SWE GM1 or apply here: https://goo.gl/forms/MgDLS5s1Q62T9Pel1.
        </div>
    </div> -->

    <!-- <hr> -->

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Social/Community Engagement</h3>
          <p>Social Coordinator: Huda Iftekhar</p>
          <P>Community Engagement: Mindy Huang</p>
              <p>Are you interested in hosting socials, such as ice skating or ice cream runs?
                If so, join Social Committee, where you can learn how to put on and participate in fun activities. </p>
        </div>
    </div>

    <hr>


    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Website</h3>
          <p>Officer: Muying Chen </p>
          <p> The website committee will help update the content of the website for various SWE events.
              You will also help implement new features and redesign the website. Previous experience in HTML/CSS is preferred but not required. </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Career Options In Engineering </h3>
          <p>Officers: Varsha Venkat, Smita Balaji </p>
          <p> Career Options in Engineering is a series of events that introduces engineering students to “alternative” career paths — careers that are not typically associated with engineers, like consulting and patent law. As a committee member, you will be in charge of one of the events in our series; this entails corresponding with a company representative or student representative to discuss event ideas, and handling event logistics and promotion. Career Options is a new program, so you will have a lot of flexibility in terms of reaching out to new partner companies and planning your event. This committee is the perfect opportunity for anyone who wants to network and help plan all aspects of an event from the ideation to publicity stages!
           </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div> -->
        <div class="col-md-12">
          <h3>Start-Up Expo</h3>
          <p>Chairs: Cindy Wong, Francesca Ledesma</p>
          <p>
              Start-Up Expo is an event that takes place on Saturday, March 11 designed to connect and engage UC Berkeley students with local startup companies. We are looking for four individuals that would help us with this event!
          </p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Apprenticeship
            </h1>

        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Mini University</h3>
          <p>Officer: Tanisha Randhawa</p>
          <p>
              MiniU is an outreach event for high school students considering majoring in STEM related fields, with special consideration and emphasis for those from low-income backgrounds. The goal of the program is to get participants interested in engineering related careers and inspire them to pursue new experiences. The apprentice will meet with me about once every other week up through the day of the event to help go over coordination and details.
          </p>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <h3>Engineering Day</h3>
        <p>Officer: Kelly Chen</p>
        <p>
          Engineering Day is a fun event in October where parents are able to drop by with their K-3rd graders and interact with exciting Halloween-themed science booths in a casual, carnival style. In past years, we have had over 100 kids attend!
        </p>
        </div>
    </div>


</div>
<!-- /.container -->
