<head>
  <!--   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
 -->
    <title>Committees | UC Berkeley SWE</title>
    <!-- <script src="../assets/js/scroll.js"></script> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top back">
  <a class="navbar-brand" href="#">
    <img src="assets/images/swewhite.png" width="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/national">National Membership</a>
          <a class="dropdown-item" href="#/committees">Committees</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/officers">Officers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/calendar">Event Calendar</a>
          <a class="dropdown-item" href="#/GMslides">GM Slides</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/newsletters">Newsletters</a>
          <a class="dropdown-item" href="#/alumnisignup">Alumni</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/outreach">General Info</a>
          <a class="dropdown-item" href="#/miniu">Mini-U</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/hsep">HSEP</a>
          <a class="dropdown-item" href="#/ohp">Overnight Host Program</a>
          <a class="dropdown-item" href="#/science">Science Saturdays</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Corporate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/pdm">PDM</a>
          <a class="dropdown-item" href="#/corporatepackage">Corporate Package</a>
          <a class="dropdown-item" href="#/sponsors">Current Sponsors</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34">Company Interest Form</a>
        </div>
      </li>

  </div>
</nav>
<!-- NAVBAR END -->
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Committees
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Historian </h3>
            <p>Chair: Shirley Liu
            </p>
            <p>
                The historian committee is a place for passionate photography and videography lovers. Here, we really learn and use new photography equipment and editing software to document SWE events. Join us and help record how SWE thrive!
            </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/historian.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Outreach <small>swe.berkeley.outreach@gmail.com</small> </h3>
          <p>VP: Kayva Madhavan</p>
          <p>Elementary Outreach: Teresa Yang </p>
          <p>Middle School Outreach: Krutika Ingale </p>
          <p>High School Outreach: Jessica Yeh, Yena Kim </p>
          <p>Mini University: Natali Gallegos </p>
          <p>The outreach committee plans engaging hands-on engineering activities for K-12 students. As a committee member,
              you will be responsible for planning and volunteering at our various outreach events.
              Help teach and inspire the engineers of tomorrow! </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/parent_education_program.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Middle School Outreach</h3>
            <p>Officer: Krutika Ingale
            </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesSP18/middle_school_outreach.jpg">
        </div>        
    </div>    

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Public Relations
          <small>ucb.swe.pr@gmail.com</small>
        </h3>
          <p>Chairs: Rosemary Yin, Amanda Guan</p>
          <p>The Public Relations committee is in charge of keeping SWE members in the loop about SWE events and opportunities. The main ways in which we do this are through preparing and distributing the weekly SWEmail,
          producing the newsletter that is distributed at general meetings, flyering around campus, chalking messages in classrooms, and posting social media updates including Facebook. If you have a passion for writing, design, communications/social media, or just an interest in public relations then we would love to have you join our team! (No experience necessary.)</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>Shadow an Engineer </h3>
          <p>Chairs: Emma Hsu, Muying Chen</p>
          <p>
            Shadow an Engineer is SWE’s externship program that provides undergraduate engineering students an opportunity to experience what it is like to be a full-time engineer at a company over Spring Break. We are looking for dedicated individuals to help put together our program this semester by directly communicating with companies, working on the student application, or helping publicize the program.
          </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
          <h3>SWENext</h3>
          <p>Officer: Malvika Singhal</p>
          <p>
            SWENext is a platform in which high school girls can get access to mentorship, scholarships, and other virtual resources for pursuing a STEM career pathway. The program is intended to have female high school students become connected to the engineering community surrounding them, as a form of guidance towards a possible career in engineering.
          </p>
          <p>
            Article: <a href= "http://galileopress.org/index.php/2018/01/26/galileos-society-of-women-engineers/" target="_blank">Engineering Added to Galileo Club Roster</a> (Featured on Galileo Press)
          </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Social / Community Engagement</h3>
          <p>Membership: Anita Silver, Karina Martinez</p>
          <p>
            Are you interested in hosting socials, such as ice skating or ice cream runs?If so, join Social Committee, where you can learn how to put on and participate in fun activities.
          </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesSP18/membership.jpg">
        </div>        
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <h3>Website</h3>
          <p>Officer: Peitian Xiong </p>
          <p> The website committee will help update the content of the website for various SWE events.
              You will also help implement new features and redesign the website. Previous experience in HTML/CSS is preferred but not required. </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesFA17/website.jpg">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-ld-8 col-sm-8 col-md-8">
          <br>
          <h3>Team Tech</h3>
          <p>Officer: Asena Yildiz, Smita Balaji</p>
          <p>
            Team Tech is a national competition run by SWE and sponsored by Boeing in which a team at school works with an industry partner on a project. The company and project is of each team’s choosing. Teams are evaluated both on the end product quality and the ability of the team to work together. Project proposals may be submitted during the fall semester after which teams may begin their work. The final report is due at the end of the spring semester, and the presentations occur at the SWE fall conference (which takes place in October 2018).
          </p>
        </div>
        <div class="col-ld-4 col-sm-4 col-md-4">
          <img class="img-responsive" src="assets/images/committeesSP18/teamtech1.jpg">
        </div>        
    </div>

    <hr>

    <div class="row">
      <div class="col-ld-8 col-sm-8 col-md-8">
        <h3>Startup Spring</h3>
        <p>Officer: Zoe Husted, Kelly Chen</p>
      </div>
      <div class="col-ld-4 col-sm-4 col-md-4">
        <img class="img-responsive" src="assets/images/committeesSP18/startup_spring.jpg">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-ld-8 col-sm-8 col-md-8">
        <h3>New Admit Overnight Host Program</h3>
        <p>Officer: Haruka Ichikawa, Louise Feng</p>
      </div>
      <div class="col-ld-4 col-sm-4 col-md-4">
        <img class="img-responsive" src="assets/images/committeesSP18/ohp.jpg">
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Apprenticeship</h1>
        </div>
    </div>

    <div class="row">
      <div class="col-ld-9 col-sm-9 col-md-9">
        <h3>Mini University</h3>
        <p>Officer: Tanisha Randhawa</p>
        <p>Apprentice: Natali Gallegos</p>
        <p>
          MiniU is an outreach event for high school students considering majoring in STEM related fields, with special consideration and emphasis for those from low-income backgrounds. The goal of the program is to get participants interested in engineering related careers and inspire them to pursue new experiences. The apprentice will meet with me about once every other week up through the day of the event to help go over coordination and details.
        </p>
      </div>
      <div class="col-ld-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="assets/images/committeesFA17/miniu_apprentice.jpg">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-ld-9 col-sm-9 col-md-9">
        <h3>Mentorship</h3>
        <p>Officer: Lucie Kresl</p>
        <p>Apprentice: Veena Narasimhan</p>
        <p>
          Throughout the program, Mentorship will need a team of dedicated mentors that will work with the high school students to facilitate towards the success of their projects.
        </p>
      </div>
      <div class="col-ld-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="assets/images/committeesFA17/veena_mentorship.jpg">
      </div>
    </div>

</div>
