<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Corporate Package
                <!-- <small></small> -->
            </h1>

        </div>

        <div class="col-lg-12">
          <div id="body-wrapper">

      <p>
      Thank you for your interest in sponsoring  UC Berkeley SWE!
      Support from our corporate partners enables us to achieve our goal of empowering women to reach their full potential as engineers.
      Please review  our Corporate Package below (<a href="assets/document/corporate/UC_Berkeley_SWE_Corporate_Package_2016-2017_v5.pdf">PDF</a>)
      for a list of opportunities to get involved and email our VP of Corporate Relations
      if you have any questions or would like to participate in any of the events.
      A list of our current sponsors can be found <a href="#/sponsors/">here</a>.
      </p>
      <div class="text-center">
        <iframe class="pdfViewer" id="portrait-viewer" src="assets/document/corporate/UC_Berkeley_SWE_Corporate_Package_2016-2017_v5.pdf" frameborder="0" style="width: 80%; height: 500px;">
        <!--<iframe class="pdfViewer" id="portrait-viewer" src="http://docs.google.com/gview?url=http://swe.berkeley.edu/corporatepackage/corporate2016_2017.pdf&amp;embedded=true" frameborder="0" style="width: 80%; height: 500px;"> -->
        </iframe>
      </div>

      </div>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
