
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">General Meeting Slides</h1>
    </div>
    
    <div class="col-lg-12">
      <p>
        Our General Meetings are held throughout the semester and are open to the public. Dinner is provided unless otherwise stated. Dates and times are subject to change. See the most recent slides below.
      </p>
    </div>
    <div class="col-lg-12">
      <h3>
        Spring 2018 General Meetings
      </h3>
      <p>
        <a href="assets/document/gm/SP18GM1" target="_blank">January 30th</a> </br>
        <a href="assets/document/gm/SP18GM2" target="_blank">February 27th</a> </br>
      </p>
    </div>   


  </div>
</div>