<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">General Meeting Slides
                <!-- <small></small> -->
            </h1>

        </div>

        <div class="col-lg-12">
            <p>Our General Meetings are held throughout the semester and are open to the public. Dinner is provided unless otherwise stated. Dates and times are subject to change. See the most recent slides below.</p>
        </div>


        <div class="col-lg-12">
          <h3>
            Spring 2017 General Meetings
          </h3>
          <p>
            <a href="assets/document/gm/GM1Spring2017" target="_blank">January 25th</a> </br>
            <a href="assets/document/gm/GM2Spring2017" target="_blank">February 27th</a> (Some committees are still accepting applications, click <a href="http://tinyurl.com/SWECommitteeSpring17" target="_blank">here</a> to apply!)</br>
            <!-- <a href="assets/document/gm/GM3Fall2016" target="_">November 3rd </a> </br>
            <a href="assets/document/gm/GM4Fall2016" target="_">December 5th</a></br>  -->
          </p>
          <p>
            If you want to be notified for our events, please  <a href="https://calmail.berkeley.edu/manage/list/listinfo/swe.berkeley@lists.berkeley.edu">subscribe to our mailing list.  </a>
          </p>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
