
<div class="jumbotron hsep">
  <div class="jumboText center">High School Engineering Program</div>
</div>
<!-- <div class="mainContainer">
  <img class="mainImage" src="../assets/images/hsep/9.jpg">
  <div class="centeredMain">High School Engineering Program</div>
</div> -->
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="outreach_sciSat">
      <h1 class="title">Inspiring the Next Females in STEM.</h1>
      <br>
      <h5 class="center unbold sweGray">
        Comprised of high schoolers and a group of dedicated mentors, we aspire to help foster a nurturing environment for high school females to learn and explore their interests in engineering. Our 10-week program takes place every Saturday, from 10 AM to 1 PM, on the UC Berkeley campus. There is no cost, as SWE provides everything, from snacks to materials. However, the students are responsible for their transportation. Students may also bring laptops if they are able to. This Fall, HSEP will run from September 15th to November 17th. 
      </h5>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <h5 class='swePurple'><strong>
        Want to get involved?
      </strong></h5>
      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <h6>Are you a UC Berkeley student and a STEM major interested in working with youth and sharing your passion for STEM?</h6>
            <br>
            <p>Apply to be a mentor! Please check this page again at the end of July, when we will be releasing the mentor application.</p>

          </div>
          <div class="col">
            <h6>Are you a female-identifying high school student interested in learning more about STEM?</h6>
            <br>
            <p>Apply to HSEP! The application will be released <strong><a href="https://tinyurl.com/HSEPApplication">at this link</a></strong> on July 16th and will be due August 27th. We will let you know our decisions by September 2nd. We look forward to getting to know you!</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <!-- <p>
        Mini U is open to students of all genders and we encourage students from first-generation, low-income, and/or minority backgrounds to apply. It would be especially beneficial to 9th, 10th, and 11th graders considering majoring in science, tech, engineering, and math related fields. 
      </p>
      <p>
        Sign up <a href=" https://tinyurl.com/MiniUmailing"> here</a> for our mailing list to be notified when the application comes out.
      </p>
      <p>
        If you have any questions about this program, please feel free to contact us through email at <a href="swe.miniu@gmail.com">swe.miniu@gmail.com</a>. 
      </p> -->
      <h3>Have further questions?</h3>
      <p>Feel free to contact Jessica and Lavanya, the High School Outreach Officers, at swe.highschool.outreach@gmail.com.</p>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
  </div>
</div>

<div class="moviebox">
      <div class="movie first">
        <img id="mov" src="assets/images/hsep/1.jpg" style="transform:rotate(90deg);></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/3.jpg" ></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/2.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/11.jpg""></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/4.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/10.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/5.jpg"></div>
</div>