<!-- 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>

    <title>HSEP | UC Berkeley SWE</title>
    <script src="../assets/js/scroll.js"></script>

</head> -->


<div class="jumbotron hsep">
  <div class="jumboText center"></div>
</div>
<!-- <div class="mainContainer">
  <img class="mainImage" src="../assets/images/hsep/9.jpg">
  <div class="centeredMain">High School Engineering Program</div>
</div> -->
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="outreach_sciSat">
      <div class="mainTitle">HIGH SCHOOL ENGINEERING PROGRAM</div>
      <h1 class="title">Inspiring the Next Females in STEM.</h1>
      <br>
      <hr>
      <br>
      <h2 class='swePurple'><strong>What is HSEP?</strong></h2>
      <br>
      <h5 class="center unbold sweGray">
        Comprised of high schoolers and a group of dedicated mentors, we aspire to help foster a nurturing environment for high school females to learn and explore their interests in engineering. Our 10-week program takes place every Saturday, from 10 AM to 1 PM, on the UC Berkeley campus. There is no cost, as SWE provides everything, from snacks to materials. However, the students are responsible for their transportation. Students may also bring laptops if they are able to. This Fall, HSEP will run from September 15th to November 17th.
      </h5>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="moviebox">
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_1.jpg" ></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_2.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_3.jpg""></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_4.jpg"></div>
      </div>
      <hr>
      <br>
      <h2 class='swePurple'><strong>Want to get involved?</strong></h>
      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <br>
            <h5>&rarr; Are you a UC Berkeley student and a STEM major interested in working with youth and sharing your passion for STEM?</h5>
            <br>
            <p>&bull; Apply to be a mentor! The application is open now till September 6th <strong><a target="_blank" href="https://tinyurl.com/HSEPMentorAPP">at this link</a></strong>. We will let you know our decisions by September 8th. We look forward to working with you!</p>

          </div>
          <br>
          <br>
          <div class="col">
            <br>
            <h5>&rarr; Are you a female-identifying high school student interested in learning more about STEM?</h5>
            <br>
            <p>&bull; Apply to HSEP! The application is open now till August 31st at <strong><a target="_blank" href="https://tinyurl.com/HSEPApplication">at this link</a></strong>. We will let you know our decisions by September 5th. We look forward to getting to know you!</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <h3>Have further questions?</h3>
      <p>Feel free to contact Jessica and Lavanya, the High School Outreach Officers, at swe.highschool.outreach@gmail.com.</p>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="moviebox">
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_5.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_6.jpg"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_7.JPG"></div>
      <div class="movie">
        <img id="mov" src="assets/images/hsep/photo_9.jpg"></div>
</div>

<hr>
<br>
<br>
  </div>

</div>




<div class="videoBox">
        <video style="display: inline-block;" controls>
        <source src="assets/images/hsep/CalSTAR.mp4" type="video/mp4">
      </video>


        <video style="display: inline-block;" controls>
        <source src="assets/images/hsep/CivE.mp4" type="video/mp4">
      </video>
</div>
