<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Outreach</h2>
    </div>
  </div>
  <div class="outreach_sciSat">
      <h2 class="title">Mini University</h2>
      <p>
        Mini University is an event that provides Bay Area high school students with the opportunity to experience a day in the life of a Berkeley Engineering student. The goal of Mini-U is to expose first-generation, low-income, and minority students to careers in STEM fields through activities such as lab and campus tours, engineering activities, industry speakers, and student panels. Mini-U is an all-day event that takes place once in both the Fall and Spring semesters. 
      </p>
      <p>
        The Fall 2017 Mini-U program will be held on Friday, November 17th from 8:30 AM to 3:00 PM at the UC Berkeley campus. All costs of the program, including lunch, are covered. Transportation to the campus will not be provided.
      </p>
      <p>
        Mini-U is open to students of all genders and we encourage students from first-generation, low-income, and/or minority backgrounds to apply! It would be especially beneficial to 9th, 10th, and 11th graders considering majoring in science, tech, engineering, and math related fields. 
      </p>
      </br>
      <h4>Application Link:</h4>
      <p><a href="https://tinyurl.com/sweminiu2017">https://tinyurl.com/sweminiu2017</a></p>
      <br>
      <p>
        The deadline to apply is Friday, November 10th. Spots are limited and applications are accepted on a first come first serve basis but priority will be given to students from underserved communities. Please apply only if you are sure you can attend!
      <p>
      <p>
        If you have any questions about this program, please feel free to contact us through email at <a href="mailto:swe.miniu@gmail.com">swe.miniu@gmail.com</a>. 
      </p>
  </div>
</div>