
<!-- <head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
</head>
 -->
<div class="container">
  <div class="row">
    <!-- <div class="col-lg-12">
      <h2 class="page-header">Outreach</h2>
    </div> -->
  </div>
  <br>
  <br>
  <div class="outreach_sciSat">
      <h1 class="title"><strong>Mini University</strong></h1>
      <br>
      
  
      <div class="row">
        <div class="col-ld-6 col-sm-6 col-md-6">
         <br>
         <h5 class="unbold sweGray">
        Mini-University is a one-day event designed to encourage underserved bay-area high school students to pursue careers in STEM.  Participants will tour academic labs, learn about STEM career paths, participate in engineering activities, hear from STEM professors and current engineering students, and much more!  This semester’s event will take place on Friday, November 16, 2018, from 8 AM - 3:30 PM.  Spots are limited and applications are accepted on a first-come-first-served basis, with priority given to students from underserved communities.
      </h5>
      <h5 class="unbold sweGray">
        Mini-University is open to students of all genders.  We especially encourage students from first-generation, low-income, and/or minority backgrounds to apply.  This event is geared towards 9th, 10th, and 11th grade students who are considering majoring in stem, tech, engineering, or math related fields (or who simply want to learn more about what a STEM career would be like!)
      </h5>
      <h5 class="unbold sweGray">
        The application link is live! Sign up <strong><a target="_blank" href="https://www.tinyurl.com/miniuf18"> here</a></strong>.
      </h5>
      <h5 class="unbold sweGray">
        If you have any questions about this program, please contact us by email at <strong><a href="swe.miniu@gmail.com">swe.miniu@gmail.com</a></strong>. We look forward to seeing you at Mini-U this semester! 
      </h5>
         <br>
        </div>
        <div class="col-ld-6 col-sm-6 col-md-6">
            <img class="img-responsive" src="assets/images/miniu/miniuu.png" alt="MiniU photo">
        </div>
      </div> 
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-ld-6 col-sm-6 col-md-6">
            <img class="img-responsive" src="assets/images/miniu/two.JPG" alt="MiniU photo">
    </div>
    <div class="col-ld-6 col-sm-6 col-md-6">
            <img class="img-responsive" src="assets/images/miniu/five.jpg" alt="MiniU photo">
        </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-ld-4 col-sm-6 col-md-4">
      <img class="img-responsive" src="assets/images/miniu/onecrop.jpg" alt="MiniU photo">
    </div>
    <div class="col-ld-4 col-sm-6 col-md-4">
      <img class="img-responsive" src="assets/images/miniu/threecrop.jpg" alt="MiniU photo">
    </div>
    <div class="col-ld-4 col-sm-6 col-md-4">
      <img class="img-responsive" src="assets/images/miniu/flourcrop.jpg" alt="MiniU photo">
    </div>
  </div>
</div>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>