<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Outreach</h2>
    </div>
  </div>
  <div class="outreach_sciSat">
      <h2 class="title"><strong>Mini University</strong></h2>
      <br>
      <p>
        Mini University is a SWE outreach event that exposes first-generation, minority, and first generation Bay Area high school students to opportunities in STEM through lab tours, student panel, hands-on group/STEM activities, a Professional speaker, and a campus tour. 
      </p>
      <p>
        Mini University is an all-day event held once per semester (Fall & Spring). Spots are limited and applications are accepted on a first come first serve basis but priority will be given to students from underserved communities. 
      </p>
      <p>
        Mini U is open to students of all genders and we encourage students from first-generation, low-income, and/or minority backgrounds to apply. It would be especially beneficial to 9th, 10th, and 11th graders considering majoring in science, tech, engineering, and math related fields. 
      </p>
      <p>
        Sign up <a href=" https://tinyurl.com/MiniUmailing"> here</a> for our mailing list to be notified when the application comes out.
      </p>
      <p>
        If you have any questions about this program, please feel free to contact us through email at <a href="swe.miniu@gmail.com">swe.miniu@gmail.com</a>. 
      </p>
      <hr>
      <div class="row">
        <div class="col-ld-6 col-sm-6 col-md-6">
         <br>
         <br>
            <p>Group activity: Newspaper Tower Contest.</p>
        </div>
        <div class="col-ld-6 col-sm-6 col-md-6">
            <img class="img-responsive" src="assets/images/committeesSP18/miniu.jpg" alt="MiniU photo">
        </div>
      </div> 
  </div>
</div>