<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">National Membership
                <small>Become a national member!</small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Pricing Table</li>
            </ol> -->
        </div>

    </div>

    <div class="row">
      <h3 class="text-center"> Membership Types
      <small> <a href="http://societyofwomenengineers.swe.org/index.php/membership">(Read more) </a></small>
    </h3>

        <div class="col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <strong>Collegiate to Career (C2C)</strong>
                </div>
                <div class="panel-body">
                  For a one-time $50 payment, collegiate members can secure a SWE membership for their collegiate years through the first year they qualify for professional grade membership. C2C is beneficial to students with two or more years of schooling left or those pursuing an advanced degree.  Renewal is required each year, at no charge, to confirm continued SWE Membership.  Take advantage of this program to maximize your savings on membership dues.
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <strong>Collegiate</strong>
                </div>
                <div class="panel-body">
                  SWE Membership is available for $20 to college students majoring in engineering and must be renewed annually to obtain membership benefits.
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <strong>
Joint </strong>
                </div>
                <div class="panel-body">
                  Take advantage of a reduced joint membership rate when you join both SWE and one of these three professional organizations: The American Indian Science and Engineering Society (AISES), the National Society of Black Engineers (NSBE), and the Society of Hispanic Professional Engineers (SHPE). (Only available April 15 - December 31)
                </div>

            </div>
        </div>


    </div>

<div class="row ">
    <h4>
        National Members receive many benefits including, but not limited to:
    </h4>
    <ul>
        <li>Discounts on SWE events (EWI, etc.)</li>
        <li>Discounts on SWE apparel (shirts, etc.)</li>
        <li>Ability to attend SWE national conference</li>
        <li>Ability to attend SWE local conferences</li>
        <li>Access to Webinars Applicable to apply to SWE Scholarships</li>
    </ul>
  </div>
</div>
<div class="row ">
  <hr> </hr>
  Watch <a href="https://www.youtube.com/watch?v=bzfx0sLfjDw">the video guide </a> for a step by step guide on how to register to become a SWE national member.


</div>
</div>
<!-- /.container -->
