<!-- Page Content -->

<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Newsletter
      </h1>

    </div>

  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-12">
      Click on each link to download a PDF of the newsletter.

      If you'd like to sign up for our alumni newletter, click <a href="https://docs.google.com/forms/d/1LxZbgUna2Dp-_Rj_A0gWM3_PcfBvAZkGq5rmXFAXQ4w/viewform?formkey=dEtfV2NJZnpoMUxJeGNYOEZGZjBPRVE6MQ#gid=0"> here</a>.
      <!-- <img class="img-responsive" src="http://placehold.it/1200x300"> -->
    </div>

  </div>
  <!-- /.row -->

  <!-- <div class="row">

    <div class="col-lg-4">
      <h2 class="page-head">2016</h2>
      <p>
        <a href=assets/newsletter/2016_05.pdf target="_blank">May</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_04.pdf target="_blank">April</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_03.pdf target="_blank">March</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_02.pdf target="_blank">February</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_01.pdf target="_blank">January</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2 class="page-header">2014</h2>

      <p>
        <a href=assets/newsletter/2014_12.pdf target="_blank">December</a>
      </p>
      <p>
        <a href=assets/newsletter/2014_11.pdf target="_blank">November</a>
      </p>
      <p>
        <a href=assets/newsletter/2014_10.pdf target="_blank">October</a>

        <p>
          <a href=assets/newsletter/2014_09.pdf target="_blank">September</a
            ></p>
            <p>
              <a href=assets/newsletter/2014_04.pdf target="_blank">April</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_02.pdf target="_blank">February</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_01.pdf target="_blank">January</a>

            </div>
            <div class="col-lg-4">
            </p><h2 class="page-header">2013</h2>
            <p>
              <a href=assets/newsletter/2013_12.pdf target="_blank">December</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_11.pdf target="_blank">November</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_10.pdf target="_blank">October</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_09.pdf target="_blank">September</a
                ></p>
            <p>
              <a href=assets/newsletter/2013_05.pdf target="_blank">May</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_04.pdf target="_blank">April</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_02.pdf target="_blank">February</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_01.pdf target="_blank">January</a>
            </p>
          </div>
          <div class="col-lg-4">
            <h2 class="page-header">2012</h2>
            <p>
          <a href=assets/newsletter/2012_12.pdf target="_blank">December</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_10.pdf target="_blank">October</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_09.pdf target="_blank">September</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_05.pdf target="_blank">May</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_02.pdf target="_blank">February</a>
            </p>

          </div>
          <div class="col-lg-4">
            <h2 class="page-header">2011</h2>
                    <p>
                      <a href=assets/newsletter/2011_12.pdf target="_blank">December</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_11.pdf target="_blank">November</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_10.pdf target="_blank">October</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_08.pdf target="_blank">August</a>
                      <p>
                        <p>
                          <a href=assets/newsletter/2011_04.pdf target="_blank">April</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_03.pdf target="_blank">March</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_02.pdf target="_blank">February</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_01.pdf target="_blank">January</a>
                        </div>
                        <div class="col-lg-4">
                        </p><h2 class="page-header">2010</h2>
                        <p>
                          <a href=assets/newsletter/2010_12.pdf target="_blank">December</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_11.pdf target="_blank">November</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_10.pdf target="_blank">October</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_09.pdf target="_blank">September</a
                            ></p></div>

                          </div>
 -->
<!-- </div> -->
</div>
<!-- /.container -->
