<head>
<!--     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
 -->
    <title>Newsletters | UC Berkeley SWE</title>
    <!-- <script src="../assets/js/scroll.js"></script> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top back">
  <a class="navbar-brand" href="#">
    <img src="assets/images/swewhite.png" width="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/national">National Membership</a>
          <a class="dropdown-item" href="#/committees">Committees</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/officers">Officers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/calendar">Event Calendar</a>
          <a class="dropdown-item" href="#/GMslides">GM Slides</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/newsletters">Newsletters</a>
          <a class="dropdown-item" href="#/alumnisignup">Alumni</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/outreach">General Info</a>
          <a class="dropdown-item" href="#/miniu">Mini-U</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/hsep">HSEP</a>
          <a class="dropdown-item" href="#/ohp">Overnight Host Program</a>
          <a class="dropdown-item" href="#/science">Science Saturdays</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Corporate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/pdm">PDM</a>
          <a class="dropdown-item" href="#/corporatepackage">Corporate Package</a>
          <a class="dropdown-item" href="#/sponsors">Current Sponsors</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34">Company Interest Form</a>
        </div>
      </li>

  </div>
</nav>
<!-- NAVBAR END -->
<br>
<br>
<br>
<br>
<br>
<!-- Page Content -->

<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Newsletter
      </h1>

    </div>

  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-12">
      Click on each link to download a PDF of the newsletter.

      If you'd like to sign up for our alumni newletter, click <a href="https://docs.google.com/forms/d/1LxZbgUna2Dp-_Rj_A0gWM3_PcfBvAZkGq5rmXFAXQ4w/viewform?formkey=dEtfV2NJZnpoMUxJeGNYOEZGZjBPRVE6MQ#gid=0"> here</a>.
      <!-- <img class="img-responsive" src="http://placehold.it/1200x300"> -->
    </div>

  </div>
  <!-- /.row -->

  <!-- <div class="row">

    <div class="col-lg-4">
      <h2 class="page-head">2016</h2>
      <p>
        <a href=assets/newsletter/2016_05.pdf target="_blank">May</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_04.pdf target="_blank">April</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_03.pdf target="_blank">March</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_02.pdf target="_blank">February</a>
      </p>
      <p>
        <a href=assets/newsletter/2016_01.pdf target="_blank">January</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2 class="page-header">2014</h2>

      <p>
        <a href=assets/newsletter/2014_12.pdf target="_blank">December</a>
      </p>
      <p>
        <a href=assets/newsletter/2014_11.pdf target="_blank">November</a>
      </p>
      <p>
        <a href=assets/newsletter/2014_10.pdf target="_blank">October</a>

        <p>
          <a href=assets/newsletter/2014_09.pdf target="_blank">September</a
            ></p>
            <p>
              <a href=assets/newsletter/2014_04.pdf target="_blank">April</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_02.pdf target="_blank">February</a>
            </p>
            <p>
              <a href=assets/newsletter/2014_01.pdf target="_blank">January</a>

            </div>
            <div class="col-lg-4">
            </p><h2 class="page-header">2013</h2>
            <p>
              <a href=assets/newsletter/2013_12.pdf target="_blank">December</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_11.pdf target="_blank">November</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_10.pdf target="_blank">October</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_09.pdf target="_blank">September</a
                ></p>
            <p>
              <a href=assets/newsletter/2013_05.pdf target="_blank">May</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_04.pdf target="_blank">April</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_02.pdf target="_blank">February</a>
            </p>
            <p>
              <a href=assets/newsletter/2013_01.pdf target="_blank">January</a>
            </p>
          </div>
          <div class="col-lg-4">
            <h2 class="page-header">2012</h2>
            <p>
          <a href=assets/newsletter/2012_12.pdf target="_blank">December</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_10.pdf target="_blank">October</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_09.pdf target="_blank">September</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_05.pdf target="_blank">May</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_03.pdf target="_blank">March</a>
            </p>
            <p>
              <a href=assets/newsletter/2012_02.pdf target="_blank">February</a>
            </p>

          </div>
          <div class="col-lg-4">
            <h2 class="page-header">2011</h2>
                    <p>
                      <a href=assets/newsletter/2011_12.pdf target="_blank">December</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_11.pdf target="_blank">November</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_10.pdf target="_blank">October</a>
                    </p>
                    <p>
                      <a href=assets/newsletter/2011_08.pdf target="_blank">August</a>
                      <p>
                        <p>
                          <a href=assets/newsletter/2011_04.pdf target="_blank">April</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_03.pdf target="_blank">March</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_02.pdf target="_blank">February</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2011_01.pdf target="_blank">January</a>
                        </div>
                        <div class="col-lg-4">
                        </p><h2 class="page-header">2010</h2>
                        <p>
                          <a href=assets/newsletter/2010_12.pdf target="_blank">December</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_11.pdf target="_blank">November</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_10.pdf target="_blank">October</a>
                        </p>
                        <p>
                          <a href=assets/newsletter/2010_09.pdf target="_blank">September</a
                            ></p></div>

                          </div>
 -->
<!-- </div> -->
</div>
<!-- /.container -->
