<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Officers</h2>
            </br>
        </div>

        <div class="col-lg-12">
            <h4 class="sponsor-title">Executives</h4>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_WaverlyR.jpg">
                Waverly Runion </br>
                President
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_SarahS.jpg">
                Sarah Spivack </br>
                Vice President
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_VarshaV.jpg">
                Varsha Venkat </br>
                VP of Corporate Relations
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_KayvaM.jpg">
                Kayva Madhavan </br>
                VP of Outreach
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_CynthiaT.jpg">
                Cynthia Tien </br>
                Treasurer
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_MindyH.jpg">
                Mindy Huang</br>
                Secretary
            </div>
        </div>

        <div class="col-lg-12">
            <h4 class="sponsor-title">Officers</h4>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_ShirleyL.jpg">
                Shirley Liu </br>
                Historian
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_RosemaryY.jpg">
                Rosemary Yin</br>
                Public Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_AmandaG.jpg">
                Amanda Guan</br>
                Public Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_VeenaN.jpg">
                Veena Narashiman</br>
                Intersocietal
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_TeresaY.jpg">
                Teresa Yang</br>
                Elementary School Outreach
            </div>        
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_KrutikaI.jpg">
                Krutika Ingale</br>
                Middle School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_JessicaY.jpg">
                Jessica Yeh</br>
                High School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_YenaK.jpg">
                Yena Kim</br>
                High School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_NataliG.jpg">
                Natali Gallegos</br>
                Mini University
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_MuyingC.jpg">
                Muying Chen</br>
                Shadow an Engineer
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_EmmaH.jpg">
                Emma Hsu</br>
                Shadow an Engineer
            </div>            
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_JoyG.jpg">
                Joy Gu</br>
                Advocacy Chair
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_PeitianX.jpg">
                Peitian Xiong</br>
                Webmaster
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_SnehG.jpg">
                Sneh Girdhar</br>
                Society and Alumni
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_LouiseF.jpg">
                Louise Feng</br>
                OHP
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_HarukaI.jpg">
                Haruka Ichikawa</br>
                OHP
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_MalvikaS.jpg">
                Malvika Singhal</br>
                SWENext
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_YitianZ.jpg">
                Yitian Zou</br>
                Career Options
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_MeganH.jpg">
                Megan Handley</br>
                Career Options
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_AsenaY.jpg">
                Asena Yildiz</br>
                Team Tech
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_SmitaB.jpg">
                Smita Balaji</br>
                Team Tech
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_PurvaG.jpg">
                Purva Gupta</br>
                Senior Advisor
            </div>                                                                         
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_LucieK.jpg">
                Lucie Kresl</br>
                Mentorship
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_AnitaS.jpg">
                Anita Silver</br>
                Membership
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_KarinaM.jpg">
                Karina Martinez</br>
                Membership
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_ZoeH.jpg">
                Zoe Husted</br>
                Founder Fridays
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive" src="assets/images/officersSP18/SP18_KellyC.jpg">
                Kelly Chen</br>
                Founder Fridays
            </div>                                                
        </div>

    </div>
</div>