<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Officers</h2>
            </br>
        </div>

        <div class="col-lg-12">
            <h4 class="sponsor-title">Executives</h4>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Waverly.jpg">
                Waverly Runion </br>
                President
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Sarah.JPG">
                Sarah Spivack </br>
                VP of Internal Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Varsha.jpg">
                Varsha Venkat </br>
                VP of Corporate Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Kayva.jpg">
                Kayva Madhavan </br>
                VP of Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Cynthia.jpg">
                Cynthia Tien </br>
                Treasurer
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Mindy.jpg">
                Mindy Huang</br>
                Secretary
            </div>
        </div>

        <div class="col-lg-12">
            <h4 class="sponsor-title">Officers</h4>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Shirley.jpg">
                Shirley Liu </br>
                Historian
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Ian.jpg">
                Ian Rodney</br>
                Public Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Adela.jpg">
                Adela Li</br>
                Public Relations
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Hannah.jpg">
                Hannah He</br>
                Community Engagement
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Haruka.jpg">
                Haruka Ichikawa</br>
                Elementary School Outreach
            </div>        
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Maitri.jpg">
                Maitri Shah</br>
                Middle School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Louise.jpg">
                Louise Feng</br>
                High School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Yena.jpg">
                Yena Kim</br>
                High School Outreach
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Tanisha.jpg">
                Tanisha Randhawa</br>
                Mini University
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Francesca.jpg">
                Francesca Ledesma</br>
                Shadow an Engineer
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Kelly.jpg">
                Kelly Chen</br>
                Engineering Day
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Joy.jpg">
                Joy Gu</br>
                Senior Advisor
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Peitian.jpg">
                Peitian Xiong</br>
                Webmaster
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Emma.jpg">
                Emma Hsu</br>
                Society and Alumni
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Preethi.jpg">
                Preethi Bhat</br>
                Membership
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Jessica.jpg">
                Jessica Yeh</br>
                Membership
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Malvika.jpg">
                Malvika Singhal</br>
                SWENext
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Yitian.jpg">
                Yitian Zou</br>
                Professional Development Month
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Shanaaz.jpg">
                Shanaaz Deo</br>
                Professional Development Month
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Asena.jpg">
                Asena Yildiz</br>
                Team Tech
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Asena.jpg">
                Smita Balaji</br>
                Team Tech
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Purva.jpg">
                Purva Gupta</br>
                Evening With Industry
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Cindy.jpg">
                Cindy Wong</br>
                Evening With Industry
            </div>                                                                            
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/officersFA17/Lucie.jpg">
                Lucie Kresl</br>
                Mentorship
            </div>
        </div>
        
    </div>
</div>