<div class="container">

  <!-- Our Customers -->

  <div class="row">

      <div class="col-lg-12">
          <h2 class="page-header">Our Officers</h2>
        </br>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Executives</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officersSP17/Elizabeth.JPG">
            Elizabeth Chu </br>
            President
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Joy.png">
            Joy Gu </br>
            Vice President
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Waverly.png">
            Waverly Runion </br>
            VP of Corporate Relations
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Angela.png">
            Angela Lin </br>
            VP of Outreach
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Tanisha.png">
            Tanisha Randhawa </br>
            Treasurer
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Annie.png">
            Annie Pan</br>
            Secretary
        </div>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Officers</h4>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Rachel.png">
            Rachel Huang </br>
            Historian
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Cindy.png">
            Cindy Wong </br>
            SAE Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Alicia.png">
            Alicia Auduong</br>
            Public Relations Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Sarah.png">
            Sarah Spivack</br>
            Elementary Outreach Officer
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Tamika.png">
            Tamika Bassman</br>
            Mentorship Program Liaison Officer
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Francesca.png">
            Francesca Ledesma</br>
            PDM Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Varsha.png">
            Varsha Venkat</br>
            EWI Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Kavya.png">
            Kavya Madhavan</br>
            Middle and High School Outreach Officer
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Isabel.png">
            Isabel Yang</br>
            Alumni Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Vy.png">
            Vy Luu</br>
            Public Relations Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Cynthia.png">
            Cynthia Tien</br>
            External Relations
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Mindy.png">
            Mindy Huang</br>
            Intersocietal Coordinator
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Lucie.png">
            Lucie Kresl</br>
            Membership Director
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Priscilla.png">
            Priscilla Khuu</br>
            Engineering Day
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Hannah.png">
            Hannah He</br>
            Social Coordinator
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Lucy.png">
            Lucy Lei </br>
            Mini U Officer
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Shanaaz.png">
            Shanaaz Deo </br>
            SAE Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Sophia.png">
            Sophia Liu </br>
            Webmaster
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Alyssa.png">
            Alyssa Scheske </br>
            PDM Co-Chair
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/officers2016/Meghna.png">
            Meghna Dasgupta</br>
            EWI Co-Chair
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
