<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">OHP</h2>
              </div>
    </div>

    <div class="ohp">
        <h2 class="title"><strong>Program Specifics</strong></h2>
        <p>
            Take a look at the following frequently asked questions and answers to
            learn more about what you’ll be doing throughout the program and how you can prepare.
            If you have any additional questions, please email Sarah Spivack at
            <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>.
        </p>
        <br>

        <h4><strong>What will I be doing all day?</strong></h4>
        <p>Here is the official sche  dule for OHP 2017: </p>
        <br>
        <img "img-responsive img-customer" src="assets/images/ohp-schedule.png">
        <br>

        <h4><strong>How will I know if I am accepted into the program?</strong></h4>
        <p>
            You will receive an email within a week of registration that will indicate
            whether you are accepted into the program or are on the waitlist.
            Sign up early to ensure you receive a spot!
        </p>
        <br>

        <h4><strong>Do I need to fill out emergency forms?</strong></h4>
        <p>In order to participate in the Overnight Host Program, students must fill
            out two forms, a <a href="https://drive.google.com/file/d/0B3_2LpDGkVKoVWJ2aEhvTHdBcG8/view">
                waiver of liability</a> form and a <a href="https://drive.google.com/file/d/0B3_2LpDGkVKoRHg1YzhqQ0hqZjg/view">medical treatment</a> form.
            Forms can be scanned and emailed to <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a> or mailed to:
        </p>
        <br>
            <center>Society of Women Engineers</center>
            <center>230 Bechtel Engineering Center, #1702</center>
            <center>Berkeley, CA 94720</center>
        <br>
        <p>Forms must be received by <strong>April 19th, 2017</strong>.</p>
        <br>

        <h4><strong>What do I need to bring?</strong></h4>
        <p>In addition to your standard toiletries and overnight supplies, please bring the following:</p>
        <ul>
            <li>A sleeping bag/pad/pillow</li>
                <ul>
                    <li>Most of our hosts do not have extra beds in their rooms - come prepared to sleep on a floor or couch</li>
                </ul>
            <li>A formal or semi-formal outfit</li>
                <ul>
                    <li>For the dinner banquet</li>
                </ul>
            <li>Comfortable clothes for both Friday and Saturday (and lots of sunscreen!)</li>
            <li>Optional: a small knapsack or bag to carry day-belongings around.</li>
                <ul>
                    <li>We will be storing your luggage in a secure location for the duration of the day.
                        If you would like to carry around a water bottle or wallet,
                        or have someplace to store flyers and information packets,
                        you may find a small bag useful.  </li>
                </ul>
            </ul>
        <br>

        <h4><strong>Where/when do I check in/check out?</strong></h4>
        <p>Check-in will be on <strong>Friday, April 21st, 9:00am - 10:00am</strong> in the <strong>Garbarini Lounge</strong>
            (second floor of Bechtel Engineering Center). Bring all sleeping bags and luggage
             to the check-in desk. We will store your belongings in a secure location
             until it is time to meet your overnight host. </p>
        <br>
        <p>Check-out will be be on <strong>Saturday, April 22nd, 9am - 4:00pm</strong> in <strong>240 Bechtel Engineering Center</strong>.
            You will bring your sleeping bags and luggage to breakfast and we will store your belongings
            while you attend Cal Day. Return anytime to 240 Bechtel before 4:00 PM to have a parent sign
            you out (if you are under 18) and to collect your belongings.  Note: we ask that you complete
            a quick survey before you sign out.</p>
        <br>

        <h4><strong>How do I get to the check-in location?</strong></h4>
        <p>See the building circled in red on the map below.  The circle to the lower right marks the check-in location.</p>
        <br>
        <img "img-responsive img-customer" src="assets/images/ohp-map.png">
        <br>
        <p>Below is a picture of Bechtel Engineering Center.  The Garbarini Lounge is up the stairs and to the left.</p>
        <br>
        <img "img-responsive img-customer" src="assets/images/ohp-bechtel.png">
        <br>
        <p> Note: If you will be using BART to travel to campus, we will have volunteers stationed
            to meet you at the Downtown Berkeley BART station.  Please direct any questions
             regarding transportation to <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>.  </p>
        <br>

        <h4><strong>Where can I find parking?</strong></h4>
        <p>The nearest parking garage to Bechtel Engineering Center is (see the red circle in
             the upper left of the map above):<p>
        <br>
        <p>Lower Hearst Parking Garage</p>
        <p>2451 Hearst Avenue</p>
        <p>Berkeley, CA 94720</p>
        <br>
        <p>More information regarding parking is available at the link below: </p>
        <p> <a href="http://pt.berkeley.edu/parking/visitor/lots-pricing">http://pt.berkeley.edu/parking/visitor/lots-pricing </a></p>
    </div>
</div>
