<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">OHP</h2>
              </div>
    </div>

    <div class="outreach_ohp">
        <h2 class="title"><strong>Register</strong></h2>
        <h3><strong>Parent Program:</strong></h3>
        <p>Parents who are interested in attending the parent program can register
            at <a href="www.regonline.com/SWEOHP2017">www.regonline.com/SWEOHP2017</a>.
             To find out more about the program, please click <a href="https://drive.google.com/file/d/0B3OY8CObD_yodlZvckpsZVlabDQ/view?usp=sharing">here</a>.
         </p>
         <br>

         <h3><strong>Student Program:</strong></h3>
         <p>The priority registration deadline for the student program is <strong>April 14th, 2017 at 11:59 pm<strong>.
              Note: Registration is limited, and admits will be accepted on a first-come first-served basis.
              Registration may close before the above deadline if we reach full capacity.  </p>
        <h5><strong><a href="https://goo.gl/forms/5WNDgQRMMUb12Cmi2"> REGISTER HERE</a></strong><h5>
        <br>
        <p>If you are having difficulty with the form, please contact <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>.</p>
        <br>
        <p><strong>In addition to registration</strong>, all participants must fill out TWO forms:</p>
        <ul>
            <li><a href="https://drive.google.com/file/d/0B3_2LpDGkVKoVWJ2aEhvTHdBcG8/view">Waiver of Liability form</a></li>
            <li><a href="https://drive.google.com/file/d/0B3_2LpDGkVKoRHg1YzhqQ0hqZjg/view">Medical Treatment form</a></li>
        </ul>
        <p>You will not be able to check in unless these are completed!
            As soon as you have received a confirmation email that you are registered
             or on the waitlist, please fill out these forms and send them
             to <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>.  Forms must be received by <strong>April 19th, 2017</strong>.
        <br>
        <p>If you have any questions, don’t hesitate to ask!  Contact Sarah Spivack at <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>. </p>
s
    </div>
</div>
