<div class="container">

    <div class="ohp">
        <h2 class="title"><strong>Volunteer</strong></h2>
        <p>We are currently searching for volunteers to help with the Society of Women Engineers’ Overnight Host Program (OHP).  </p>
        <br>
        <p>Volunteering takes place on <strong>Friday, April 21st</strong>, from <strong>8AM-10:30PM</strong>, and on <strong>Friday, April 22nd</strong>, from <strong>9AM-5PM</strong>. </p>
        <br>
        <p>As a volunteer, you’ll:</p>
        <ul>
            <li>Lead lab tours, scavenger hunts, and evening activities</li>
            <li>Answer questions about your experiences as a Cal Student (questions may
                involve your major, extracurricular activities, living situation, etc.)</li>
            <li>Give insider’s advice on how to survive Berkeley Engineering!</li>
            <li>And more!</li>
        </ul>
        <br>
        <p>Please note: You do not have to be a female student to volunteer for OHP! </p>
        <br>
        <h5><strong><a href="https://tinyurl.com/volunteer-ohp">Sign up to volunteer</a></strong></h5>
        <br>
        <p>If you have any questions, please don’t hesitate to contact Sarah Spivack at <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a>.
            We look forward to seeing you at OHP this year!</p>
    </div>
</div>
