<head>
  <!--   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
 -->
    <title>OHP | UC Berkeley SWE</title>
    <!-- <script src="../assets/js/scroll.js"></script> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top back">
  <a class="navbar-brand" href="#">
    <img src="assets/images/swewhite.png" width="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/national">National Membership</a>
          <a class="dropdown-item" href="#/committees">Committees</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/officers">Officers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/calendar">Event Calendar</a>
          <a class="dropdown-item" href="#/GMslides">GM Slides</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/newsletters">Newsletters</a>
          <a class="dropdown-item" href="#/alumnisignup">Alumni</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/outreach">General Info</a>
          <a class="dropdown-item" href="#/miniu">Mini-U</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/hsep">HSEP</a>
          <a class="dropdown-item" href="#/ohp">Overnight Host Program</a>
          <a class="dropdown-item" href="#/science">Science Saturdays</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Corporate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/pdm">PDM</a>
          <a class="dropdown-item" href="#/corporatepackage">Corporate Package</a>
          <a class="dropdown-item" href="#/sponsors">Current Sponsors</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34">Company Interest Form</a>
        </div>
      </li>

  </div>
</nav>
<!-- NAVBAR END -->
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
    </div>
    <div class="outreach_sciSat">
        <h2 class="title"><strong>New Admit Overnight Host Program</strong></h2>
        <br>
        <p>
            The New Admit Overnight Host Program (OHP) is a unique event designed specifically for women admitted to UC Berkeley’s College of Engineering and the Chemical Engineering major in the College of Chemistry for Fall 2018. The program provides female admits the opportunity to visit the Cal campus, interact with engineering student organizations and research laboratories, attend a banquet with UC Berkeley faculty and professors, and sleep overnight in student housing in order to experience life as a Berkeley engineer. This year’s program takes place from <strong>April 20th-21st, 2018</strong>. Participants are also encouraged to attend Cal Day on April 21st.
        </p>
        <p>
            All newly-admitted women to UC Berkeley’s engineering programs will receive an invitation to the New Admit Overnight Host Program. This program is provided <strong>free</strong> of cost to all invited students. <strong>Invitations are sent out the last week in March</strong>. Please email Haruka Ichikawa and Louise Feng at <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a> with any questions about the program.
        </p>
        <hr>        
        <p>
            <a href="https://tinyurl.com/sweohp18-register" target="_blank">Registration</a> <strong>for the 2018 New Admit Overnight Host Program is now open until April 10th, 2018</strong>. Registration will be accepted on a first-come, first-serve basis. After submitting the registration form, students must complete a <a href="https://drive.google.com/file/d/1x6L-C2JJGAmWGqcqI8z3dmad3kLTrL9R/view?usp=sharing" target="_blank">Waiver of Liability Form</a> AND a <a href="https://drive.google.com/file/d/1GrgvOvTKZWea-sm5poChHiE4Fv_wu3eM/view?usp=sharing" target="_blank">Medical Authorization Form</a>. These forms must be scanned and emailed to <a href="mailto:ucb.swe.admit@gmail.com">ucb.swe.admit@gmail.com</a> by <strong>April 18, 2018 at 11:59 PM</strong>. Failure to do so may result in your spot being given away to someone on the waitlist.
        </p>
        <hr>
        <p>
            <strong>Parents/Guardians</strong> - Want to know more about Berkeley Engineering and UC Berkeley? There is a special program just for you on <strong>Friday, April 20th from 9am-4pm (no overnight accommodations provided)</strong>. Cost for parents is $20 per person and includes a light breakfast and lunch. We will cover topics including: Housing, Financial Aid, Safety, Mental Health and Wellness, Academic Advising and much more. Learn more about the day's agenda and register on the Engineering Student Services website: <a href="https://engineering.berkeley.edu/sweohp" target="_blank">https://engineering.berkeley.edu/sweohp</a>.
        </p>
        <hr>
        <p>
            This sample program from 2018 displays the types of activities in which students will participate while at OHP:
        </p>
        <div class="text-center">
            <div>
                <br>
                <table style="width: 80% !important; margin: 0px auto !important;">
                    <thead>
                        <tr>
                            <th style="text-align: center">Time</th>
                            <th style="text-align: center">Activity (Location)</th>
                        </tr> 
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>                                                  
                        <tr>      
                            <th style="text-align: center">April 20th, 2018</th>
                            <th style="text-align: center"></th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr>
                            <td style="border:1px solid #000000;">9 - 10AM</td>
                            <td style="border:1px solid #000000;">Check-in, light breakfast (Garbarini Lounge)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">10 - 10:10AM</td>
                            <td style="border:1px solid #000000;">Welcome and intro to program (Sibley Auditorium)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">10:10 - 11AM</td>
                            <td style="border:1px solid #000000;">Lecture by Berkeley Engineering Professor (Sibley Auditorium)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">11 - 12:15PM</td>
                            <td style="border:1px solid #000000;">Lab Rotations (Various)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">12:15 - 1:15PM</td>
                            <td style="border:1px solid #000000;">Lunch + Student Mixer (Garbarini Lounge)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">1:15 - 2:45PM</td>
                            <td style="border:1px solid #000000;">Campus tour and scavenger hunt (Campus)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">2:45 - 3 PM</td>
                            <td style="border:1px solid #000000;">Gather back at Bechtel Terrace</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">3 - 4PM</td>
                            <td style="border:1px solid #000000;">Speak with engineering student organizations (Bechtel Terrace)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">4 - 5PM</td>
                            <td style="border:1px solid #000000;">Professional panel (Sibley Auditorium)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">5 - 5:30PM</td>
                            <td style="border:1px solid #000000;">Quick break, travel to Alumni House</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">5:30 - 7PM</td>
                            <td style="border:1px solid #000000;">Evening Banquet (Alumni House)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">7 - 7:30PM</td>
                            <td style="border:1px solid #000000;">Travel back to Bechtel</td>
                        </tr>                                                            
                        <tr>
                            <td style="border:1px solid #000000;">7:30 -10PM</td>
                            <td style="border:1px solid #000000;">Night activities (Garbarini Lounge)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">10PM</td>
                            <td style="border:1px solid #000000;">Hosts pick up students (Garbarini Lounge)</td>
                        </tr>                        
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>  
                    </tbody>
                    <thead>
                        <tr>      
                            <th style="text-align: center">April 21st, 2018</th>
                            <th style="text-align: center"></th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border:1px solid #000000;">9 - 10AM</td>
                            <td style="border:1px solid #000000;">College of Engineering Welcome Breakfast (McLaughlin Hall Plaza)</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">9AM - 4PM</td>
                            <td style="border:1px solid #000000;">Checkout</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000000;">2:30 - 4PM</td>
                            <td style="border:1px solid #000000;">Tea with SWE (Garbarini Lounge)</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-ld-4 col-sm-4 col-md-4">
              <h3>Directions</h3>
              <p>Check-in Location:</p>
              <p>Garbarini Lounge in Bechtel Engineering Center<br>UC Berkeley</p>
            </div>
            <div class="col-ld-8 col-sm-8 col-md-8">
              <img class="img-responsive" src="assets/images/ohp_map.png">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-ld-6 col-sm-6 col-md-6">
                <br>
                <br>
                <p>Garbarini is up the stairs on the left.</p>
            </div>
            <div class="col-ld-6 col-sm-6 col-md-6">
                <img class="img-responsive" src="assets/images/ohp_bechtel.png">
            </div>
        </div>        
        <hr>
        <div>
            <h3>Parking:</h3>
            <p>If you plan on coming in a car, please park at the Stadium Parking Garage.</p>
            <p>
                Stadium Parking Garage<br>
                2175 Gayley Road,<br>
                Berkeley CA 94720
            </p>
            <p>
                Other information regarding parking is available at the link below:<br>
                <a href="http://pt.berkeley.edu/parking/visitor/lots-pricing" target="_blank">http://pt.berkeley.edu/parking/visitor/lots-pricing</a>
            </p>
        </div>
    </div>
</div>