<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Outreach</h2>
        </div>
    </div>
    <div class="outreach_sciSat">
        <h2 class="title"><strong>New Admit Overnight Host Program</strong></h2>
        <br>
        <p>
            The New Admit Overnight Host Program (OHP) is a unique event designed specifically for women admitted to UC Berkeley’s College of Engineering for Fall 2017.  The program provides female admits the opportunity to visit the Cal campus, interact with engineering student organizations and research laboratories, attend a banquet with UC Berkeley faculty and professors, and sleep overnight in student housing in order to experience life as a Berkeley engineer.  This year’s program takes place from <strong>April 20th-21st, 2018</strong>.  Participants are also encouraged to attend Cal Day on April 22st.
        </p>
        <p>
            This sample program from 2016 displays the types of activities in which students will participate while at OHP:
        </p>
        <hr>
        <div class="row text-center">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <h4>April 15th, 2016</h4>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                    </tr>
                    <tr>
                        <td>9 - 10AM</td>
                        <td>Check-in</td>
                    </tr>
                    <tr>
                        <td>10 - 10:10AM</td>
                        <td>Welcome to Cal! Program Intro (SWE Membership Director and President)</td>
                    </tr>
                    <tr>
                        <td>10:10 - 11AM</td>
                        <td>Why I Love being a Berkeley Engineer (Student Panel)</td>
                    </tr>
                    <tr>
                        <td>11AM - 12PM</td>
                        <td>Inside the Engineering Classroom (A lecture presented by a Berkeley Engineering Professor)</td>
                    </tr>
                    <tr>
                        <td>12 - 1PM</td>
                        <td>How Berkeley Engineers Learn Outside the Classroom + Lunch</td>
                    </tr>
                    <tr>
                        <td>1 - 2PM</td>
                        <td>Let Cal Propel Your Professional Career (Professional Panel)</td>
                    </tr>
                    <tr>
                        <td>2 - 3:30PM</td>
                        <td>Campus Tour / Lab Rotations (Explore the Berkeley campus and visit research labs)</td>
                    </tr>
                    <tr>
                        <td>3:30 - 4:30PM</td>
                        <td>Student Sampler (Opportunity to mingle with students from all engineering disciplines)</td>
                    </tr>
                    <tr>
                        <td>4:30 - 5PM</td>
                        <td>Change</td>
                    </tr>
                    <tr>
                        <td>5 - 6:30PM</td>
                        <td>New Admit OHP Banquet</td>
                    </tr>
                    <tr>
                        <td>6:30 - 7PM</td>
                        <td>Change</td>
                    </tr>
                    <tr>
                        <td>7-10 PM</td>
                        <td>Evening Activities</td>
                    </tr>                                                            
                    <tr>
                        <td>10-10:30 PM </td>
                        <td>Meet Berkeley Hosts</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>  
                </table>
                <br>
                <h4>April 16, 2016 (Cal Day)</h4>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                    </tr>
                    <tr>
                        <td>9 - 10AM</td>
                        <td>Breakfast</td>
                    </tr>
                    <tr>
                        <td>8AM - 4PM</td>
                        <td>Check-out</td>
                    </tr>
                    <tr>
                        <td>2:30 - 4PM</td>
                        <td>Tea with SWE</td>
                    </tr>
                </table>                
            </div>
        </div>
        <hr>
        <p>
            All newly-admitted women to UC Berkeley’s engineering programs will receive an invitation to the New Admit Overnight Host Program.  This program is provided <strong>free</strong> of cost to all invited students. <strong>Invitations are sent out the last week in March</strong>.
        </p>
        <p>
            In addition to the New Admit Overnight Host Program, UC Berkeley’s Engineering Student Services offers a one-day event for the parents of admitted female engineering students, which will take place on <strong>Friday, April 20th, 2018</strong>.
        </p>
        <p>
            More information regarding both of these programs will be posted closer to their event dates.
        </p>
    </div>
</div>