<head>
<!--     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
 -->
    <title>Outreach | UC Berkeley SWE</title>
    <!-- <script src="../assets/js/scroll.js"></script> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top back">
  <a class="navbar-brand" href="#">
    <img src="assets/images/swewhite.png" width="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/national">National Membership</a>
          <a class="dropdown-item" href="#/committees">Committees</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/officers">Officers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/calendar">Event Calendar</a>
          <a class="dropdown-item" href="#/GMslides">GM Slides</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/newsletters">Newsletters</a>
          <a class="dropdown-item" href="#/alumnisignup">Alumni</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/outreach">General Info</a>
          <a class="dropdown-item" href="#/miniu">Mini-U</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/hsep">HSEP</a>
          <a class="dropdown-item" href="#/ohp">Overnight Host Program</a>
          <a class="dropdown-item" href="#/science">Science Saturdays</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Corporate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/pdm">PDM</a>
          <a class="dropdown-item" href="#/corporatepackage">Corporate Package</a>
          <a class="dropdown-item" href="#/sponsors">Current Sponsors</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34">Company Interest Form</a>
        </div>
      </li>

  </div>
</nav>
<!-- NAVBAR END -->
<br>
<br>
<br>
<br>
<br>

<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">Outreach</h2>
              </div>



    </div>

    <div class="outreach_genInfo">
    <p>
      UC Berkeley's SWE Outreach committee is committed to helping kids develop a passion for science and engineering. We hold events for students in grades K through 12. Read more to find out how you can participate:
    </p>
    </br>

    <h4>Mini University</h4>
    <p>
      Mini University is an event that provides Bay Area high school students with the opportunity to experience a day in the life of a Berkeley Engineering student. The goal of Mini-U is to expose first-generation, low-income, and minority students to careers in STEM fields through activities such as lab and campus tours, engineering activities, industry speakers, and student panels. Mini-U is an all-day event that takes place once in both the Fall and Spring semesters. For more information, please see the 'Mini-University' tab under 'Outreach' or send an email to 
      <script type="text/javascript">
          mail2('swe.miniu', 'gmail', '0', '', 'swe.miniu@gmail.com')
       </script><a href="mailto:swe.miniu@gmail.com">swe.miniu@gmail.com</a>.
    </p>
    </br>

    <h4>Engineering Day</h4>
    <p>
      Engineering Day is a fun event in October where parents are able to drop by with their K-3rd graders and interact with exciting Halloween-themed science booths in a casual, carnival style. In past years, we have had over 100 kids attend! For more information, contact
      <script type="text/javascript">
        mail2('berkeley.jssc', 'gmail', '0', '', 'berkeley.jssc@gmail.com')
      </script><a href="mailto:swe.engineering.day@gmail.com">swe.engineering.day@gmail.com</a>.
    </p>
    </br>

    <h4>High School Engineering Program</h4>
    <p>
      The High School Engineering Program is a 10-week long program designed to introduce female high school students to the principles and applications of engineering. Through the course of the program, the students receive engaging lessons pertaining to various fields of engineering and are mentored in small teams to design and carry out an involved engineering project.
    </p>
    </br>

    <h4>SWE Science Saturdays</h4>
    <p>
      SWE Science Saturdays are a series of activities hosted once every month that teach engineering ideas and principles to 4th and 5th grade students. SWE Science Scholars is for 6th - 8th graders. The students work in groups to complete different hands-on projects using their creativity and knowledge. Some examples of previous activities include creating catapults and building “earthquake-proof” structures out of classroom materials such as popsicle sticks, rubber bands, straws, and chopsticks.
    </p>
    </br>

    <h3> Past Events </h3>
    <h4>Junior Solar Sprint Challenge (JSSC):</h4>
    <p>
    JSSC is an annual one day event where 6th through 8th grade students race solar powered cars at the Lawrence Hall of Science. Students build and design their solar powered cars from a starter kit in the weeks leading up to the event. Their cars are judged by members of CalSol, UC Berkeley's solar vehicle team.
    </p>

    <br><br>
    <h3> Contact Us</h3>
    <p>
    If you have any general questions about UC Berkeley SWE's outreach efforts or want to help us put on our events, email <script type="text/javascript">
          mail2('swe.berkeley.outreach', 'gmail', '0', '', 'swe.berkeley.outreach@gmail.com')
       </script><a href="mailto:swe.berkeley.outreach@gmail.com">swe.berkeley.outreach@gmail.com</a> for more information! Sign up for our <a href="http://eepurl.com/ccaFX1">mailing list</a> for updates about our various events.

    </p>

    <!-- Team Member Profiles -->



</div>
<!-- /.container -->
