<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">Outreach</h2>
              </div>



    </div>

    <div class="outreach_genInfo">
    <p>
      UC Berkeley's SWE Outreach committee is committed to helping kids develop a passion for science and engineering. We hold events for students in grades K through 12. Read more to find out how you can participate:

    </p>

    </br>
    <h4>SWE Science Saturdays & Scholars:</h4>
    <p>
      SWE Science Saturdays (for 4th and 5th graders), and SWE Science Scholars (for 6th through 8th graders) are two hour events that take place on one Saturday of each month on the UC Berkeley campus and have a capacity of about 30 students each. At these events, students have an opportunity to participate in one or more hands-on engineering activities.
    The program dates for the Fall 2016 semester are September 17th, October 8th, November 5th, and December 3rd. If you are interested in participating, please <a href="#/science" >click here</a> for more information about how to register.

    </p>

    </br>
    <h4>Mini-University: Monday, November 14, 2016</h4>
    <p>
      Mini-University is an event that takes place from 8am to 3pm on a weekday in both the Fall and the Spring, and is targeted toward introducing 9th-12th grade students to the experience of being a UC Berkeley engineer. This all day event is comprised of hands-on engineering activities lead by various engineering student groups, admissions panels, talks by professors, lab tours and more. To learn more, email  <script type="text/javascript">
          mail2('swe.miniu', 'gmail', '0', '', 'swe.miniu@gmail.com')
       </script><a href="mailto:swe.miniu@gmail.com">swe.miniu@gmail.com</a>.
    </p>

    </br>
    <h4>Engineering Day: Saturday, October 22, 2016</h4>
    <p>
      Engineering Day is an event for K-3rd graders that takes place every October around Halloween. At this event, K-3rd graders and their parents drop by at any time during the carnival-style event, with booths where they can take part in short Halloween-themed science activities. We had over 100 kids attend the event last year. For more information, email <script type="text/javascript">
          mail2('berkeley.jssc', 'gmail', '0', '', 'berkeley.jssc@gmail.com')
         </script><a href="mailto:swe.engineering.day@gmail.com">swe.engineering.day@gmail.com</a>.
    </p>

    </br>
    <h4>Engineering for Kids Day (E4K) </h4>
    <p>
      E4K is an annual outreach event for 4th to 6th grade students held by the UC Berkeley's engineering community. UC Berkeley SWE usually participates in this event by hosting an engineering activity for the kids to complete. You can check <a href="https://e4k.berkeley.edu/about-e4k" target="_blank">this link</a> out for more information about E4K Berkeley.
    </p>

    </br>
    <h3> Past Events </h3>
    <h4>Junior Solar Sprint Challenge (JSSC):</h4>
    <p>
    JSSC is an annual one day event where 6th through 8th grade students race solar powered cars at the Lawrence Hall of Science. Students build and design their solar powered cars from a starter kit in the weeks leading up to the event. Their cars are judged by members of CalSol, UC Berkeley's solar vehicle team.
    </p>

    <br><br>
    <h3> Contact Us</h3>
    <p>
    If you have any general questions about UC Berkeley SWE's outreach efforts or want to help us put on our events, email <script type="text/javascript">
          mail2('swe.berkeley.outreach', 'gmail', '0', '', 'swe.berkeley.outreach@gmail.com')
       </script><a href="mailto:swe.berkeley.outreach@gmail.com">swe.berkeley.outreach@gmail.com</a> for more information! Sign up for our <a href="http://eepurl.com/ccaFX1">mailing list</a> for updates about our various events.

    </p>

    <!-- Team Member Profiles -->



</div>
<!-- /.container -->
