<!-- <head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
</head> -->

<br>
<br>
<br>
<br>
<br>

<div class="container">
  <h1 class="title">Professional Development Month</h1>
  <br>
  <br>
  <h4 class="unbold sweGray">
    Professional Development Month (PDM) is an annual series of career workshops throughout October for students interested in expanding their professional development. Every year, the UC Berkeley Society of Women Engineers invites companies like Microsoft, PwC, and Slack to host educational seminars throughout the month.
  </h4>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/pdm/google.jpg">
        <div class="caption">
          <br>
          <h3>Technical Interview Prep with Google</h3>
          <p>Date: 10/4 6-8pm | Location: 380 Soda</p>
          <p>Google university recruiter Lauren Ting will be holding a career workshop with tips on how to ace the technical interview stage of recruiting. Lauren and other Google representatives will be sharing advice on how to perform in technical interviews, along with a general info session about Google and student career opportunities. Resume drops + free dinner will be included!</p>
          <br>
          <p><a href="https://www.facebook.com/events/1274908565979229/" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/pdm/spotify.jpg">
        <div class="caption">
          <br>
          <h3>Personal Branding with Spotify</h3>
          <p>Date: 10/10 12-1:30pm | Location: 225 Bechtel</p>
          <p>Join Spotify university recruiters and representatives, who will share insights on personal branding for Spotify as well as tips in applying for various positions in Spotify! Representatives in Spotify’s engineering, design, and business departments will be present to share their knowledge on standing out in your internship/full-time applications. Resume drops + free brunch will be provided!</p>
          <br>
          <p><a target="_blank" href="https://www.facebook.com/events/312279336233720/" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/pdm/stryker.jpg">
        <div class="caption">
          <br>
          <h3>How to be an All-Star Candidate with Strkyer</h3>
          <p>Date: 10/15 5:30-7pm | Location: 290 HMMB</p>
          <p>Unsure how to stand out during recruiting season? Come out to this event with Stryker to learn about how to differentiate yourself during recruiting season! Stryker is medical device technology company that develops innovative solutions involving orthopedics, neurotechnology, and various other medical solutions.</p>
          <br>
          <br>
          <br>
          <br>
          <p><a target="_blank" href="https://www.facebook.com/events/286595045495680/" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/pdm/sandia.jpg">
        <div class="caption">
          <br>
          <h3>Careers in Data Science with Sandia National Laboratories</h3>
          <p>Date: 10/18 12-1:30pm | Location: 293 Cory</p>
          <p>Sandia National Laboratories is a National Nuclear Security Administration research and development laboratory focused on national security and nuclear science. Sandia’s work currently involves cutting edge fields such as computational biology, alternative energy, and cognitive science. Representatives from Sandia will be providing a workshop teaching applicable skills in data science and cybersecurity, along with opportunities for students interested in engineering and cybersecurity.</p>
          <br>
          <p><a target="_blank" href="https://www.facebook.com/events/1362260593907958/" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/pdm/gm.jpg">
        <div class="caption">
          <br>
          <h3>Career Opportunities Abroad with General Motors</h3>
          <p>Date: 10/30 6-7:30pm | Location: TBD</p>
          <p>Join General Motors recruiters and engineers to learn about how to combine travel with your career. Representatives from GM will be discussing how to direct your career to involve travelling--whether that be working in a different state, a different country, or just traveling as part of your job!</p>
          <br>
          <!-- <p><a href="https://www.facebook.com/events/1274908565979229/" class="btn btn-primary" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>

