
<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script> -->

    <title>Science Scholars | UC Berkeley SWE</title>
    <!-- <script src="../assets/js/scroll.js"></script> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top back">
  <a class="navbar-brand" href="#">
    <img src="assets/images/swewhite.png" width="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/national">National Membership</a>
          <a class="dropdown-item" href="#/committees">Committees</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/officers">Officers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/calendar">Event Calendar</a>
          <a class="dropdown-item" href="#/GMslides">GM Slides</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/newsletters">Newsletters</a>
          <a class="dropdown-item" href="#/alumnisignup">Alumni</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/outreach">General Info</a>
          <a class="dropdown-item" href="#/miniu">Mini-U</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#/hsep">HSEP</a>
          <a class="dropdown-item" href="#/ohp">Overnight Host Program</a>
          <a class="dropdown-item" href="#/science">Science Saturdays</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Corporate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/pdm">PDM</a>
          <a class="dropdown-item" href="#/corporatepackage">Corporate Package</a>
          <a class="dropdown-item" href="#/sponsors">Current Sponsors</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34">Company Interest Form</a>
        </div>
      </li>

  </div>
</nav>
<!-- NAVBAR END -->
<br>
<br>
<br>
<br>
<br>

<div class="container">

    <div class="row">
    </div>

    <div class="outreach_sciSat">
      <h2 class="title">SWE Science Scholars</h2>
      <p class="red">
        SWE Science Scholars are 2 hour fun engineering projects and lessons from 10am-12pm for local
      	middle school students. This is a continuation program for <a href="#/sciencesat">SWE Science Saturdays</a>.
      	Spaces are given to those who register on a first come first serve basis!
        </p>
        <p>
        A $2 dollar donation is suggested but not required from students to cover the cost of supplies.
      	In contrast to previous years, we are no longer using PayPal for donations, so this donation
      	would be in-person at the event should you choose to give one.
      </p>

      <h3>Sign-up:</h3>
      <ol>
        <li>
          Your child must be in 6th, 7th, or 8th grade
          (if younger - please see <a href="#/sciencesat">SWE Science Saturdays</a>)
        </li>
        <li>

        Please note that the registration process has changed from previous years. We will now be doing monthly pre-registrations  in order to maximize the number of students who are able to participate in our classes. Registration for the event begins the Monday after the previous month's SWE Science Saturday at 5 PM PST. Please fill out the <a href="https://goo.gl/forms/g9rEmfv2meiawcbJ3" target="_blank">SWE Science Scholars Form</a> ASAP to ensure that your child has a chance to participate.These are the dates for the Spring 2016 Semester of SWE Science Scholars:<br>
    <table style="width:30%">
    <tbody><tr> <th>SWE Science Date</th>
    </tr>
    <tr>
         <td> February 6th </td>
    </tr>
    <tr>
         <td> March 5th </td>
    </tr>
    <tr>
         <td> April 9th </td>
    </tr>
    <tr>
         <td> April 30th </td>
       <!--  <td> Apr 6th </td> -->
    </tr>
    </tbody></table>
    <br>
    <strong>
      Please note: In contrast to previous years, filling out the SWE Science Scholars Form does not
necessarily mean you are registered for the class. You will recieve an email confirmation the Monday before the SWE Science event informing you as to whether you have gotten into the
class, are waitlisted, or if the class is all full.
    </strong>

    </li>

</li>
    <li>
      Fill out the <a href="https://drive.google.com/file/d/0B2OX77LYYbjXRk1LdFZLdy1iUFE/view?usp=sharing" target="_">Medical Waiver Form</a> and <a href="https://drive.google.com/file/d/0B2OX77LYYbjXWWFQU0dreWlIVTA/view?usp=sharing" target="_">Waiver of Liability</a>.
      Please send scanned copies of both documents to
    <script type="text/javascript">mail2('swesciencescholars', 'gmail', '0', '', 'swesciencescholars@gmail.com')</script><a href="mailto:swesciencescholars@gmail.com">swesciencescholars@gmail.com</a>.
    or return them to us on the day of the event.
    </li>
    <li>
    A confirmation email will be sent to you with details as to whether you are registered or waitlisted for a class, where the class will take place, and any additional information such as the room location
    <a href="http://berkeley.edu/map/maps/CD34.html" target="_blank">UC Berkeley Campus</a>.
    </li>
    <li>
    If your child cannot attend an event for which he or she is already confirmed, please cancel your registration for that SWE Science Scholars by emailing us as soon as possible, so another student can take your student's place at SWE Science Scholars.     </li>
  </ul>
  <p>
<br>
  Email questions to
  <script type="text/javascript">mail2('swesciencescholars', 'gmail', '0', '', 'swesciencescholars@gmail.com')</script><a href="mailto:swesciencescholars@gmail.com">swesciencescholars@gmail.com</a>.
  </p>
    </ol></div>


</div>
<!-- /.container -->
