<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">Outreach</h2>
              </div>



    </div>

    <div class="outreach_sciSat">
      <h2 class="title">SWE Science Saturdays and Scholars
</h2>
      <p>
        SWE Science Saturdays (4th - 5th grade) and Scholars (6th - 8th) is a program held on the UC Berkeley campus where our members lead two hour hands-on engineering lessons and challenges on a Saturday once a month from 10 a.m. to 12 p.m. For the Fall 2016 semester, the program will be held on September 17th, October 8th, November 5th, and December 3rd.
A $2 dollar donation is suggested but not required from students to cover the cost of supplies.
</p>

<p>**Note: In the past, we have been fairly lenient about letting students who are not registered for a class attend because our classes were smaller and we love doing science experiments with your students! However, safety is our first priority, and as a result we are no longer able to accommodate students who are not registered. Having more students than we planned for presents a risk because we do not have enough volunteers to supervise all your students and make sure they are accounted for and safe. Thank you!
      </p>
</br>
      <h4> How to Sign Up </h4>
      <ul>
        <li>Your child must be in the right grade. To participate in SWE Science Saturdays, your child must be in fourth or fifth grade. To participate in SWE Science Scholars, your child must be in sixth, seventh, or eighth grade.</li>
        <li>Registration is conducted on a monthly basis and registration for the upcoming SWE Science event opens a few days after the preceding event (Check the forms below for the exact time). Sign up your child for the program by filling out the relevant Google form: </br>
          SWE Science Saturdays: <a href="http://tinyurl.com/swe-science-saturdays-16-17" target="_"> http://tinyurl.com/swe-science-saturdays-16-17</a>
          </br>
        SWE Science Scholars: <a href="http://tinyurl.com/swe-science-scholars-16-17" target="_">http://tinyurl.com/swe-science-scholars-16-17</a></br>
        Spaces are given to those who register on a first come first serve basis!  <strong>Filling out the form does not necessarily mean you are registered for the class. You will receive an email confirmation by the Monday before the SWE Science event informing you as to whether you have been admitted into the class, are waitlisted, or if the class is full.</strong>
        <li>A confirmation email will be sent to you with details as to whether you are registered or waitlisted for a class, where the class will take place, and any additional information such as the room location <a href="http://www.berkeley.edu/map"> UC Berkeley Campus.</a></li>
        <li>Fill out the <a href="https://drive.google.com/file/d/0B2OX77LYYbjXRk1LdFZLdy1iUFE/view">Medical Waiver Form</a> and <a href="https://drive.google.com/file/d/0B2OX77LYYbjXWWFQU0dreWlIVTA/view">Waiver of Liability</a>. Please email us scanned copies of both documents or return them to us on the day of the event.</li>
        <li>If your child cannot attend an event for which he or she is already confirmed, please cancel your registration by emailing us as soon as possible.</li>
      </li>

    </br>
    <p>
    If you have questions about the programs, please email <a href="mailto:swesciencesaturday@gmail.com">swesciencesaturday@gmail.com</a> or <a href="mailto:swesciencescholars@gmail.com">swesciencescholars@gmail.com</a> respectively. Sign up for our <a href="http://eepurl.com/ccaFX1">mailing list</a> for updates about SWE Science and our other outreach events.

      </p>

    </div>


</div>
<!-- /.container -->
