<div class="container">

    <div class="row">

              <div class="col-lg-12">
                  <h2 class="page-header">Outreach</h2>
              </div>



    </div>

    <div class="outreach_sciSat">
      <h2 class="title">SWE Science Scholars</h2>
      <p class="red">
        SWE Science Scholars are 2 hour fun engineering projects and lessons from 10am-12pm for local
      	middle school students. This is a continuation program for <a href="#/sciencesat">SWE Science Saturdays</a>.
      	Spaces are given to those who register on a first come first serve basis!
        </p>
        <p>
        A $2 dollar donation is suggested but not required from students to cover the cost of supplies.
      	In contrast to previous years, we are no longer using PayPal for donations, so this donation
      	would be in-person at the event should you choose to give one.
      </p>

      <h3>Sign-up:</h3>
      <ol>
        <li>
          Your child must be in 6th, 7th, or 8th grade
          (if younger - please see <a href="#/sciencesat">SWE Science Saturdays</a>)
        </li>
        <li>

        Please note that the registration process has changed from previous years. We will now be doing monthly pre-registrations  in order to maximize the number of students who are able to participate in our classes. Registration for the event begins the Monday after the previous month's SWE Science Saturday at 5 PM PST. Please fill out the <a href="https://goo.gl/forms/g9rEmfv2meiawcbJ3" target="_blank">SWE Science Scholars Form</a> ASAP to ensure that your child has a chance to participate.These are the dates for the Spring 2016 Semester of SWE Science Scholars:<br>
    <table style="width:30%">
    <tbody><tr> <th>SWE Science Date</th>
    </tr>
    <tr>
         <td> February 6th </td>
    </tr>
    <tr>
         <td> March 5th </td>
    </tr>
    <tr>
         <td> April 9th </td>
    </tr>
    <tr>
         <td> April 30th </td>
       <!--  <td> Apr 6th </td> -->
    </tr>
    </tbody></table>
    <br>
    <strong>
      Please note: In contrast to previous years, filling out the SWE Science Scholars Form does not
necessarily mean you are registered for the class. You will recieve an email confirmation the Monday before the SWE Science event informing you as to whether you have gotten into the
class, are waitlisted, or if the class is all full.
    </strong>

    </li>

</li>
    <li>
      Fill out the <a href="https://drive.google.com/file/d/0B2OX77LYYbjXRk1LdFZLdy1iUFE/view?usp=sharing" target="_">Medical Waiver Form</a> and <a href="https://drive.google.com/file/d/0B2OX77LYYbjXWWFQU0dreWlIVTA/view?usp=sharing" target="_">Waiver of Liability</a>.
      Please send scanned copies of both documents to
    <script type="text/javascript">mail2('swesciencescholars', 'gmail', '0', '', 'swesciencescholars@gmail.com')</script><a href="mailto:swesciencescholars@gmail.com">swesciencescholars@gmail.com</a>.
    or return them to us on the day of the event.
    </li>
    <li>
    A confirmation email will be sent to you with details as to whether you are registered or waitlisted for a class, where the class will take place, and any additional information such as the room location
    <a href="http://berkeley.edu/map/maps/CD34.html" target="_blank">UC Berkeley Campus</a>.
    </li>
    <li>
    If your child cannot attend an event for which he or she is already confirmed, please cancel your registration for that SWE Science Scholars by emailing us as soon as possible, so another student can take your student's place at SWE Science Scholars.     </li>
  </ul>
  <p>
<br>
  Email questions to
  <script type="text/javascript">mail2('swesciencescholars', 'gmail', '0', '', 'swesciencescholars@gmail.com')</script><a href="mailto:swesciencescholars@gmail.com">swesciencescholars@gmail.com</a>.
  </p>
    </ol></div>


</div>
<!-- /.container -->
