<div class="container">

  <!-- Our Customers -->

  <div class="row">

      <div class="col-lg-12">
          <h2 class="page-header">Our Sponsors</h2>
          For information about becoming a corporate sponsor, look at our
          <a href="/corporatepackage/">Corporate Packages</a> page.
          To become a sponsor, fill out this <a href="https://docs.google.com/forms/d/1MYf9ORurKitW3F4RxIaKg87CpvrMKRD6OL9XSEwU0d8/viewform?edit_requested=true">Corporate Sponsors Interest Form</a>.
        </br>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Platinum Bear Sponsors</h4>

        <div class="col-md-5 col-sm-5 col-xs-5 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/gm_big.jpg">
        </div>

        <div class="col-md-5 col-sm-5 col-xs-5 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ebay.gif">
        </div>

      </div>
<!--
      <div class="col-lg-12">
        <h4 class="sponsor-title">Golden Bear Sponsors</h4>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/abs_logo.png">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/adobe_logo.png">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/chevron_logo.png">
        </div>
      </div>
-->
      <div class="col-lg-12">
        <h4 class="sponsor-title">Silver Bear Sponsors</h4>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ea.png">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/netapp.png">
        </div>

      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Bronze Bear Sponsors</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/a9.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/yelp.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/zs.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/sandia.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/microsoft.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/macy.svg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/google.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intel.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intuitive_surgical.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/osisoft_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/redfin.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/beepi.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/bsci.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/att.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/sandisk.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/osisoft_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/zynga.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/autodesk.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/thiel.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/addepar.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/verizon.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pure-storage.png">
        </div>

      </div>


      <div class="col-lg-12">
        <h4 class="sponsor-title">CAP Sponsors</h4>

	<div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/capricity.png">
        </div>

	<div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/facebook.png">
        </div>

	<div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/meraki.png">
        </div>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">EWI Sponsors</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/a9.png">
        </div>






        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/att.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/beepi.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/bsci.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ea.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ebay.gif">
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/genentech.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/gm_big.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intel.gif">
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/netapp.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pwc.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/wealthfront.png">
        </div>    
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/yelp.png">
        </div> 

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/redfin.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intuitive_surgical.png">
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intel.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/google.png">
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/macy.svg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/osisoft_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/microsoft.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/sandisk.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/sandia.png">
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/zs.jpg">
        </div>


      </div>

  </div>



</div>
<!-- /.container -->
