<!-- <head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.min.js"></script>
    <script src="../assets/js/main.js"></script>
</head> -->
<br>
<br>

<div class="container">

    <h1 class="title">Our Sponsors</h1>
  <br>
  <p class="unbold sweGray">
    For information about becoming a sponsor, look at our
            <strong><a href="#/corporatepackage/">Corporate Packages</a></strong> page.
            To become a sponsor, fill out this <strong><a href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34" target="_">Corporate Sponsors Interest Form</a></strong>.
  </p>
    <!-- <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Sponsors</h2>
            For information about becoming a corporate sponsor, look at our
            <strong><a href="#/corporatepackage/">Corporate Packages</a></strong> page.
            To become a sponsor, fill out this <strong><a href="https://docs.google.com/forms/d/1MYf9ORurKitW3F4RxIaKg87CpvrMKRD6OL9XSEwU0d8/viewform?edit_requested=true">Corporate Sponsors Interest Form</a></strong>.
        </div>
        <br>
    </div> -->
    <br>
    <br>

        <div class="row">
            <h4 class="sponsor-title"><strong>Platinum Bear Sponsors</strong></h4>
            <br>
            <div class="col-md-4 col-sm-4 col-xs-4 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/gm_big.jpg">
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <h4 class="sponsor-title"><strong>Gold Bear Sponsors</strong></h4>

            <div class="col-md-4 col-sm-4 col-xs-4 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ibm.gif">
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/kla_tencor.png">
            </div>
        </div>
        <br>

        <div class="row">
            <h4 class="sponsor-title"><strong>Silver Bear Sponsors</strong></h4>
            <br>
            <br>
            <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/danaher.png">
            </div>           
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <h4 class="sponsor-title"><strong>Bronze Bear Sponsors</strong></h4>
            <br>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/google.png">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/accenture.gif">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intuitivesurgical.jpg">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/zs.jpg">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intel.gif">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/dropbox.png">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pg&e.gif">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/maxim_integrated_logo.png">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/sandia.png">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/strivr.jpg">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pwc.png">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
                <img class="img-responsive img-customer" src="assets/images/sponsors/logos/aecom.gif">
            </div>

        </div>

</div>
<br>
<br>
<br>
<br>
<br>