/* Global Styles */

@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    font-weight: 200;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 1090px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}



/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon.circle {
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		}

			.icon.circle:hover {
				top: -0.2em;
			}

			.icon.circle.fa-twitter {
				background: #70aecd;
				color: #fff;
			}

				.icon.circle.fa-twitter:hover {
					background: #7fb7d2;
				}

			.icon.circle.fa-facebook {
				background: #7490c3;
				color: #fff;
			}

				.icon.circle.fa-facebook:hover {
					background: #829bc9;
				}

			.icon.circle.fa-google-plus {
				background: #252525;
				color: #fff;
			}

				.icon.circle.fa-google-plus:hover {
					background: #111111;
				}

			.icon.circle.fa-youtube {
				background: #db6b67;
				color: #fff;
			}

				.icon.circle.fa-youtube:hover {
					background: #FF3132;
				}

			.icon.circle.fa-envelope-o {
				background: #e1b89b;
				color: #fff;
			}

				.icon.circle.fa-envelope-o:hover {
					background: #e1b89b;
				}

		.icon.featured {
			cursor: default;
			display: block;
			margin: 0 0 1.5em 0;
			opacity: 0.35;
			text-align: center;
		}

			.icon.featured:before {
				font-size: 5em;
				line-height: 1em;
			}

		.icon > .label {
			display: none;
		}



    /* List */

    	ol.default {
    		list-style: decimal;
    		padding-left: 1.25em;
    	}

    		ol.default li {
    			padding-left: 0.25em;
    		}

    	ul.default {
    		list-style: disc;
    		padding-left: 1em;
    	}

    		ul.default li {
    			padding-left: 0.5em;
    		}

    	ul.icons {
    		cursor: default;
    	}

    		ul.icons li {
    			display: inline-block;
    			line-height: 1em;
    			padding-left: 0.5em;
    		}

    			ul.icons li:first-child {
    				padding-left: 0;
    			}

    	ul.featured-icons {
    		cursor: default;
    		margin: -0.75em 0 0 0;
    		opacity: 0.35;
    		overflow: hidden;
    		position: relative;
    	}

    		ul.featured-icons li {
    			display: block;
    			float: left;
    			text-align: center;
    			width: 50%;
    		}

    			ul.featured-icons li .icon {
    				display: inline-block;
    				font-size: 6.25em;
    				height: 1.25em;
    				line-height: 1.25em;
    				width: 1em;
    			}

    	ul.buttons {
    		cursor: default;
    	}

    		ul.buttons:last-child {
    			margin-bottom: 0;
    		}

    		ul.buttons li {
    			display: inline-block;
    			padding: 0 0 0 1.5em;
    		}

    			ul.buttons li:first-child {
    				padding: 0;
    			}

    		ul.buttons.vertical li {
    			display: block;
    			padding: 1.5em 0 0 0;
    		}

    			ul.buttons.vertical li:first-child {
    				padding: 0;
    			}


          /* Footer */

          	#footer {
          		background: #E8EEF4;
          		color: #7c8081;
          		padding: 5em 5em 10em 5em;
          		text-align: center;
          	}

          		#footer .copyright {
          			font-size: 0.8em;
          			line-height: 1em;
          		}

          			#footer .copyright a {
          				color: inherit;
          			}

          			#footer .copyright li {
          				display: inline-block;
          				margin-left: 1em;
          				padding-left: 1em;
          				border-left: dotted 1px;
          			}

          				#footer .copyright li:first-child {
          					margin: 0;
          					padding: 0;
          					border: 0;
          				}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25%;
  padding-top: 70px;
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 3em;
  font-weight: 700;
  font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif
  /*font-family: 'Lato', sans-serif;*/
  letter-spacing: 0.025em;
	color: #EFEFEF;
  line-height: 1em;
}

.banner > .details {
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
  font-size: 40%;
  margin-top: 20px;
  font-weight: 300;
  left: auto;
  right:auto;
}

.banner > .join {
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
  font-size: 35%;
  font-weight: 200;
  left: auto;
  right:auto;
  color: #CCCCCC;

}

.banner > .btn-member {
  background-color: RGBA(255,255,255,0.86);
  color: RGBA(70, 63, 102, 1.00);
  border-radius: 15px;
}

.banner > .btn-more {
  border-color: RGBA(255,255,255,0.86);
  background-color: RGBA(70, 63, 102, 0.00);
  color: RGBA(255,255,255,0.86);
  border-radius: 15px;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.sponsor-title {
  margin-top: 20px;
  font-weight: 200;
}
