@import url("reset.css");

@font-face {
font-family:"Lato Light";
src:url("/header_footer/fonts/LatoLight/Lato-Light.eot?") format("eot"),
url("/header_footer/fonts/LatoLight/Lato-Light.woff") format("woff"),
url("/header_footer/fonts/LatoLight/Lato-Light.ttf") format("truetype"),
url("/header_footer/fonts/LatoLight/Lato-Light.svg#Lato-Light") format("svg");
font-weight:normal;
font-style:normal;
}

body{
    /*background: #4d004d; */
background: #191919; /* Old browsers */
background-image:url('/header_footer/images/p4.png');
background-repeat:repeat;
/*background: -moz-linear-gradient(left,  rgba(77,0,77,1) 0%, rgba(0,0,0,1) 21%, rgba(0,0,0,1) 80%, rgba(77,0,77,1) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(77,0,77,1)), color-stop(21%,rgba(0,0,0,1)), color-stop(80%,rgba(0,0,0,1)), color-stop(100%,rgba(77,0,77,1))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  rgba(77,0,77,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 80%,rgba(77,0,77,1) 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  rgba(77,0,77,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 80%,rgba(77,0,77,1) 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  rgba(77,0,77,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 80%,rgba(77,0,77,1) 100%); /* IE10+ */
/*background: linear-gradient(to right,  rgba(77,0,77,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 80%,rgba(77,0,77,1) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d004d', endColorstr='#4d004d',GradientType=1 ); /* IE6-9 */

    font-family: "Lato Light", "Century Gothic", sans-serif;
    /*color: #0A0A85;*/
    padding: 0px;
    font-size: 14px;
}

p {  
    margin: 20px 20px 5px 20px; 
}
p a, li a{
    text-decoration: underline;
}
p a:hover, li a:hover{
    text-decoration: underline;
    color: red;
}

.red {
    color: red;
}

h1, h2, h3, h4, h5 { 
    font-weight: bold; 
    font-size: 24px; 
    margin: 20px 0 0 20px; 
    color: #009933;
    /*text-shadow: 1px 1px 0px lightblue; */
}
ol{
    list-style: decimal;
} 
ul{
    list-style: disc;
}
ul, ol{
    padding: 0 0 0 2em;
}
li{
    padding: 5px;
}

.youtube-iframe{
    text-align:center; 
    padding: 20px;
}

/* Start Wrapper Container */
.wrapper{
    margin: auto auto;
    width: 970px;
    height: 100%;
    clear: both;
    /*background: rgb(241,218,54); /* Old browsers */
    background: rgba(255,255,255, 0.95);
/*   background: #FFFF99; */
}
.wrapper iframe.pdfViewer, .wrapper #membershipSpreadsheet{
    text-align: center;
    padding: 0;
    margin: 10px 10px 0 10px; 
    width: 950px;
    height: 750px;
}
.wrapper iframe.pdfViewer{
    height: 1260px;   
}
.wrapper #slides_viewer{
    height: 740px;
}
/* End Wrapper Container */

/*Title for many pages (usualy h2)*/
.wrapper .title{
    margin:0px;
    padding: 5px 0 0 0;
    font-size: 32px;
    text-align: center;
}

/* Header Style */
#header{
    margin: 0 auto;
    padding: 0;
    width: 970px;
    height: 120px;
    border-style: none;
    border-width:0px;
    /*background: #191919;*/
background: rgb(0,153,51); /* Old browsers */
/*background: -moz-linear-gradient(top,  rgba(86,78,1,1) 4%, rgba(178,155,3,1) 31%, rgba(196,173,3,1) 51%, rgba(178,155,3,1) 72%, rgba(86,78,1,1) 95%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(86,78,1,1)), color-stop(31%,rgba(178,155,3,1)), color-stop(51%,rgba(196,173,3,1)), color-stop(72%,rgba(178,155,3,1)), color-stop(95%,rgba(86,78,1,1))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  rgba(86,78,1,1) 4%,rgba(178,155,3,1) 31%,rgba(196,173,3,1) 51%,rgba(178,155,3,1) 72%,rgba(86,78,1,1) 95%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  rgba(86,78,1,1) 4%,rgba(178,155,3,1) 31%,rgba(196,173,3,1) 51%,rgba(178,155,3,1) 72%,rgba(86,78,1,1) 95%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  rgba(86,78,1,1) 4%,rgba(178,155,3,1) 31%,rgba(196,173,3,1) 51%,rgba(178,155,3,1) 72%,rgba(86,78,1,1) 95%); /* IE10+ */
/*background: linear-gradient(to bottom,  rgba(86,78,1,1) 4%,rgba(178,155,3,1) 31%,rgba(196,173,3,1) 51%,rgba(178,155,3,1) 72%,rgba(86,78,1,1) 95%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564e01', endColorstr='#564e01',GradientType=0 ); /* IE6-9 */

}
#header img{
    padding: 10px 25px 0 0;
    vertical-align: middle;
    float:right;
    width: 100px;
    height:100px;
}
#header a.header_text{
    padding: 0;
    font-size: 65px;
    font-weight: bold;
    /*letter-spacing: -2px;*/
    /* color: #ded548; */
    color: #FFFFFF;
    /*   color: lightblue; */
    vertical-align:center;
    float:left;
    margin: 30px 0 0 10px;
}
#header a:hover{
    /*color: lightblue;*/
	color: #FFFFFF;
}

/* Nav bar */
#navbar {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    height: 400px;
    width: 970px;
    /*   background-color:#191919; */
    background-image: url('/header_footer/images/swebanquet.png');
}
#navbar li {
    list-style: none;
    font-size:22px;
    font-weight: bold;
    float: left;
    padding: 2px;
    margin: 0px;
	background-color:rgba(0,0,0,0.5);
}
#navbar li a {
    display: block;
    padding: 1px 10px;
    /* background-color:#191919; */
    /*   color: #007c3d; */
    color:  #FFFFFF; 
    text-decoration: none;
}

#navbar li a:hover{
    color: #009933;
}

#navbar li ul {
    display: none;
    background-color:rgba(0,0,0,0.5);
}
#navbar li:hover ul, #navbar li.hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0
}
#navbar li:hover li, #navbar li.hover li {
    font-size:18px;
    float: none;
}
#navbar li ul li a:hover{
    color: #009933;
}
#navbar li:hover li a, #navbar li.hover li a {
    color: #ffffff;
    /*background-color:rgba(0,0,0,0.5);*/
    /*text-shadow:1px 1px 0px #191919;*/
    /*color: FFFFFF;*/
}
#navbar li ul li a img{
    height: 1em;
}
#navbar .nav-singleton:hover{
    color:#009933;
}

/* Social Media Links */
#mediaBar{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 0 0 0;
  margin: 0;
}
#mediaBar a img, #plusone{
  float: right;
  padding: 0 5px 5px 0px;
  height: 20px;
}

/* End Header Styles */

/*Footer*/
#footer {
    position: relative;
    clear: both;
    margin: 10px 0 auto;
    padding: 0;
    height: 70px;
    width: 970px;
    background: #009933;
}
#footer .copyright {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 5px;
    padding: 5px;
    float: right;
    font-size: 10px;
    color: FFFFFF;
}
#footer  img{
    float: right;
    height: 130px;
    padding: 0px;
}

#footer .search{
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 5px;
    color: FFFFFF;
}

#footer input{
    margin: 10px 2px 0 0;
}


#agenda{
  padding: 15px 0;
}
#announcements{
    float: right;
    width: 510px;
    padding: 0 7px 0 7px;
}

/* Stuff on index.html that shouldn't change (second column) */
#constant_home{
    float: left;
    width: 430px;
    padding: 0 7px 0 7px;
}

#front-slide-show{
   margin: 30px 0 0 10px;
}

/*Email sign-up */
#email_signup form{ 
    margin: 5px 0 0 50px;
} 
#email_signup iframe, input{
    margin: 20px 0 0 5px;
    padding: 0px;
}
#email_signup input.emailInput{
    width:18em;
}

/*T-shirts*/
#tshirts img{
    width:190px;
}

/*Embedded Google Calendar*/
#gcalendar{
    width: 970px;
    height:530px;
}

/*Tables*/
#gmTable, #upcomingEvents, #membershipLevels{
    margin: 0 auto;
    border-style: solid;
    border-width: thick;
    border-color: #007c3d;
}
#gmTable, #membershipLevels{
    padding: 5px;
}
#membershipLevels{
    margin: 10px auto;
}
#gmTable td, #upcomingEvents td, #membershipLevels td{
    vertical-align: text-top;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    border-style: double;
    border-width: medium;
    border-color: #007c3d;
}
#gmTable td, #membershipLevels td{
    padding: 10px;
}

/* Double underline for subsections (see List of career/scholarhip opportunties) */
.careers h3, .upcomingEvents h3, .membership h3, .elections h3{
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 930px;
    border-bottom: 10px double #007c3d;
}

/* Newsletter menu */
.newsletter h3{
    font-size: 20px; 
    margin: 0 0 0 15px;
}
.newsletter .months{ 
    padding: 15px 0 0 0;
    float: left;
}
.newsletter .year{
    padding: 15px 0 0 35px;
    float: left;
}
.newsletter .year select, .newsletter .year input{
    margin: 10px 0 0 15px;
    padding: 0;
}
.newsletter .year input{
    padding: 5px;
}
.newsletter .months input{
    margin: 5px;
    padding: 0;
}
.newsletter .view{
    clear: both;
    position: relative; 
    left: 300px;
}
.newsletter .warning{
    font-size: 12px;
    padding: 5px 0 0 0px;
    margin: 0;
    text-align: center;
}

/* Sponsors */
.corporateLogos{
  padding: 15px;
  height: 90px;
}

/* Contact Info */
.contacts h3{
    clear: both;
    width:930px;
    border-bottom: 10px double #007c3d;
}

.contact {
    width: 470px;
    height: 300px;
    float: left;
}
.contact{
    text-align: center;
}
.contact a img, .contact img,  .individual a img, .individual img{
    padding: 10px;
    height: 150px;
}

.individual img{
    float: right;
}

/* About */
.about p img{
    display: block;
    margin: 0 auto;
}
.about h3{
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 930px;
    border-bottom: 10px double #007c3d;
}
.about h2{
    font-size: 20px;
}

/* Outreach forms */
.outreach_form input{
  margin:3px;
  padding:3px;
}
.outreach_form .text{
    margin: 5px 0 15px 0;
    width: 20em;
    padding: 3px;
}
.outreach_form .col0, .outreach_form .col1{
    float: left;
    width: 470px;
}
.outreach_form .other{
    clear: both;
}
.outreach_form .scholarEvents, .outreach_form .saturdayEvents{
  width: 470px;
  float: left;
}
.outreach_form .recaptcha{
    clear: both;
    margin: 0px;
    padding: 10px 10px 0px 50px;
}

#saturdayEvents, #scholarEvents{
    display: none;
}

/* News, Applications and Forms*/
.news h3, .apps-forms h3{
    clear: both;
    width:930px;
    border-bottom: 10px double #007c3d;
}

/* Evening with Industry */
#mainEWILinks{
  text-align: center;
  font-size: 25px;
}

.ewi h3{
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 930px;
    border-bottom: 10px double #007c3d;
}
#ewiInfoTable{
    margin: 15px auto;
    padding: 10px;
    border-style: solid;
    border-width: thick;
    border-color: #007c3d;
}
#ewiInfoTable td{
    padding: 10px;
    vertical-align: text-top;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    border-style: double;
    border-width: medium;
    border-color: #007c3d;
}

.outreachSponsorLogos {
  padding: 15px;
  height: 90px;
}

/*Careers*/
.tabs {
    position: relative;
    margin: 40px auto;
    width: 920px;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    width: 210px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}
.tabs input#tab-2{
    left: 210px;
}
.tabs input#tab-3{
    left: 420px;
}
.tabs input#tab-4{
    left: 630px;
}

.tabs label {
    background: #5ba4a4;
    background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
    background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 20px;
    float: left;
    display: block;
    width: 190px;
    color: #385c5b;
    /*letter-spacing: 1px;*/
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
}

.tabs input:hover + label {
    background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
    z-index: 6;
}

.clear-shadow {
    clear: both;
}

.content {
    background: #fff;
    position: relative;
    width: 100%;
    height: 700px;
    z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
    color: #398080;
}
.content div p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #777;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    border-left: 8px solid rgba(63,148,148, 0.1);
}

.content div p a{
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #398080;
    font-family: Cambria, Georgia, serif;
}

.content div p a:hover{
    color: #385c5b;
}